.quote-container {
  padding: 8rem 0 0;

  @media (max-width: 1199.98px) {
    padding: 1rem 0 0;
  }
}

.quote {
  background: url("../../../../assets/images/bg/bg_team_quote.png");
  background-size: cover;
  background-position: center;
  border-radius: var(--bs-border-radius-sm);
  padding: 4.5rem;
  &-picture {
    background-color: var(--bs-white);
    padding: 0.5rem;
    border-radius: var(--bs-border-radius-sm);
  }
  &-picture-company {
    padding: 0rem;
    border: 1px solid var(--bs-gray-100);
    border-radius: 16px;
    img {
      border-radius: 16px;
      width: 48px;
      height: 48px;
    }
  }
  &-text {
    padding: 0.5rem 0;
    color: var(--bs-white);
    width: 90%;
    text-align: center;
  }

  &-author {
    color: var(--bs-gray-400);
  }

  @media (max-width: 1199.98px) {
    padding: 1rem;
  }
}
