<footer
  class="footer footer__container container print:hidden d-print-none impactiv-body-small mt-5"
>
  <div class="row mb-5 mb-lg-0" style="min-height: 240px">
    <div class="col-12 col-lg-2 mb-4 me-4 footer__logo">
      <img src="assets/images/icons/logo_color.svg" alt="Love Impactiv" />
    </div>
    <div class="col-6 col-md-3 col-lg-2 me-lg-4 mt-4 mt-sm-0 ps-4 ps-sm-0">
      <span class="impactiv-headline-small">Solutions</span>
      <ul class="list-unstyled impactiv-body-sub-regular mt-4">
        <li class="mb-2">
          <a [routerLink]="routes.screenSolution" routerLinkActive="active"
            >Affichage dynamique</a
          >
        </li>
        <li class="mb-2">
          <a [routerLink]="routes.webAppSolution" routerLinkActive="active"
            >Application collaborateurs</a
          >
        </li>
        <li class="mb-2">
          <a [routerLink]="routes.affluenceSolution" routerLinkActive="active"
            >Mesure d’affluence</a
          >
        </li>
        <li>
          <a [routerLink]="routes.dsmSolution" routerLinkActive="active"
            >Développement sur-mesure</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2 me-lg-4 mt-4 mt-sm-0">
      <span class="mb-2 impactiv-headline-small">Cas clients</span>
      <ul class="list-unstyled impactiv-body-sub-regular mt-4">
        <li *ngFor="let useCase of useCases" class="mb-2">
          <a
            [routerLink]="[routes.useCase, useCase.slug]"
            routerLinkActive="active"
            >{{ useCase.name }}</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2 me-lg-4 mt-4 mt-sm-0 ps-4 ps-sm-0">
      <span class="mb-2 impactiv-headline-small">Entreprise</span>
      <ul class="list-unstyled impactiv-body-sub-regular mt-4">
        <li class="mb-2">
          <a [routerLink]="routes.company" routerLinkActive="active"
            >À propos</a
          >
        </li>
        <li class="mb-2">
          <a [routerLink]="routes.contact" routerLinkActive="active">Contact</a>
        </li>
        <li class="mb-2">
          <a [routerLink]="routes.contact" routerLinkActive="active"
            >Nous rejoindre</a
          >
        </li>
      </ul>
    </div>
    <div class="col-6 col-md-3 col-lg-2 me-lg-4 mt-4 mt-sm-0">
      <span class="mb-2 impactiv-headline-small">Nous contacter</span>
      <ul class="list-unstyled impactiv-body-sub-regular mt-4">
        <li class="mb-2">
          <a
            [href]="phone"
            (click)="phone = 'tel:' + phoneAreaCode + phoneStart + phoneEnd"
            ><i class="bi bi-telephone-forward"></i
            ><span>{{ setPhone().phoneAreaCode }}</span
            ><span>{{ setPhone().phoneStart }}</span
            ><span>{{ setPhone().phoneEnd }}</span></a
          >
        </li>
        <li>
          <a href="https://linkedin.com/company/impactiv'/" target="_blank"
            ><i class="bi bi-linkedin"></i> Linkedin</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="m-md-0 footer__separator"></div>
  <div class="footer__credits row d-flex align-items-center py-sm-5 py-4">
    <div
      class="footer__date col-12 col-md-6 text-md-start text-center impactiv-body-small mb-3 mb-sm-0"
    >
      © Impactiv {{ year }} - Réalisé avec
      <img
        class="footer__love"
        src="assets/images/icons/heart.png"
        alt="Love by Impactiv"
      />
      par notre équipe.
    </div>
    <div class="footer__cookies text-center col-12 col-md-6 text-md-end">
      <a [routerLink]="routes.mentionsLegales">Mentions Légales</a>
    </div>
  </div>
</footer>
