.solution-container {
  padding: 8rem 0 0;
}

.solutions.sticky {
  display: block;
  margin-top: 0rem;
}

.solutions {
  position: relative;
  z-index: 3;
  overflow: visible;
  margin-top: 7.5rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
}

.accordion-wrapper {
  position: relative;
  display: block;
  overflow: visible;
  width: 100%;
  // max-width: 106.25rem;
  // margin-right: auto;
  // margin-left: auto;
  padding-top: 12rem;
  scroll-snap-type: y mandatory;
}

.solution-slide {
  position: sticky;
  bottom: 6rem;
  display: flex;
  overflow: hidden;
  width: 100%;
  // height: 29rem;
  height: 35rem;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  border-radius: var(--bs-border-radius-sm);
  background-image: url("../../../assets/images/bg/card_solution_background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.solution-slide.slide-1 {
  bottom: 17rem;
  z-index: 4;
  margin-top: -15rem;
  margin-bottom: 10rem;
  box-shadow: 0.25rem 1.25rem 1.5rem rgba(17, 17, 17, 0.1);
}

.solution-slide.slide-2 {
  bottom: 12rem;
  z-index: 3;
  margin-top: -10rem;
  margin-bottom: 5rem;
  box-shadow: 0.25rem 1.25rem 1.5rem rgba(17, 17, 17, 0.1);
}

.solution-slide.slide-3 {
  bottom: 7rem;
  z-index: 2;
  margin-top: -5rem;
  margin-bottom: 2rem;
  box-shadow: 0.25rem 1.25rem 1.5rem rgba(17, 17, 17, 0.1);
}

.solution-slide.slide-4 {
  bottom: 2rem;
  z-index: 1;
  margin-top: 0;
}

.solution-card {
  position: relative;
  z-index: 2;
  width: 100%;
  max-width: 87.5rem;
  padding-left: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.solution-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 2rem 4.5rem 0;
  flex-grow: 1;
  &__content {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &--picture {
      min-height: 3rem;
      min-width: 3rem;
      max-height: 3rem;
      max-width: 3rem;
      align-items: center;
      justify-content: center;
      background: var(--bs-blue-100);
    }
    &--text {
      display: flex;
      flex-direction: column;
      justify-items: end;
      h1 {
        padding-top: 4.625rem;
      }
      p {
        max-width: 75%;
        padding: 1rem 0;
      }
      button {
        background-color: var(--bs-secondary);
        color: var(--bs-white);
        flex-grow: 1;
        &__arrow-icon {
          color: var(--bs-gray-200);
          font-size: 1rem;
        }
      }
    }
  }
  &__image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
  }
}

.solution-index {
  padding: 1.5rem;
  color: var(--bs-gray-100);
}

@media screen and (max-width: 991.98px) {
  .solution-container {
    padding: 1rem;
  }
  .solutions {
    padding: 2rem 0;
  }
  .accordion-wrapper {
    width: 100%;
    padding-top: 1rem;
  }

  .solution-wrapper {
    padding: 1rem;
    flex-direction: column;
    flex-grow: 1;
    &__content {
      display: flex;
      flex-direction: column;
      flex-grow: 0;
      padding-top: 0;
      padding-bottom: 2.5rem;
      &--picture {
        background: none;
        min-width: fit-content;
        max-width: fit-content;
        justify-content: start;
        padding-right: 0.5rem;
      }
      &--text {
        padding-top: 1rem;
        p {
          max-width: 100%;
        }
        button {
          width: 100%;
        }
      }
    }
    &__image {
      flex-grow: 1;
    }
  }

  .solution-slide.slide-1 {
    position: relative;
    bottom: auto;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1rem;
    box-shadow: none;
    height: 100%;
    border: 0.0625rem solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius);
  }
  .solution-slide.slide-2 {
    position: relative;
    bottom: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    box-shadow: none;
    height: 100%;
    border: 0.0625rem solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius);
  }
  .solution-slide.slide-3 {
    position: relative;
    bottom: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    box-shadow: none;
    height: 100%;
    border: 0.0625rem solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius);
  }
  .solution-slide.slide-4 {
    position: relative;
    bottom: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    box-shadow: none;
    height: 100%;
    border: 0.0625rem solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius);
  }
}
