<div class="impactiv-coming-soon">
    <div class="
        container-xl
        d-flex
        flex-column
        justify-content-center
        align-items-center
        mb-2
      ">
        <div class="img__container">
            <img class="img" src="assets/images/icons/logo_vertical.svg" alt="Logo Impactiv" />
        </div>
        <div class="noise"></div>
        <h1 class="impactiv-display-large align-self-center text-center pt-5 mb-4">Nouveau site internet bientôt
            disponible ! </h1>
        <p class="impactiv-body-large align-self-center text-center mb-4">
            10 ans déjà et grâce à vous chers clients, nous avons grandi, progressé et intégré de nouvelles compétences,
            cela vaut bien une refonte totale de notre site internet !
        </p>
        <a class="impactiv-button-large btn btn-primary rounded-pill" href="mailto:contact@example.com">Contactez-nous<img
            class="img arrow ms-4" src="assets/images/icons/arrow.svg" alt="Contactez nous Impactiv" /></a>
    </div>
    <impactiv-gallery></impactiv-gallery>
</div>