<div class="impactiv-coming-soon">
    <div class="
        container-xl
        d-flex
        flex-column
        justify-content-center
        align-items-center
      ">
        <div class="img__container">
            <img class="img" src="assets/images/icons/party.png" alt="Party Impactiv" />
        </div>
        <div class="noise"></div>
        <h1 class="impactiv-display-large align-self-center text-center pt-3 mb-4">Nouveau site internet bientôt
            disponible ! </h1>
        <p class="impactiv-body-large align-self-center text-center w-sm-75 mb-4">
            10 ans déjà et grâce à vous chers clients, nous avons grandi, progressé et intégré de nouvelles compétences,
            cela vaut bien une refonte totale de notre site internet !
        </p>
        <button type="button" class="impactiv-button-large btn btn-primary rounded-pill">Contactez-nous <img
                class="img ms-4" src="assets/images/icons/arrow.svg" alt="Contactez nous Impactiv" /></button>
    </div>
</div>