.impactiv-coming-soon {
    padding-top: 3.5rem;
    .impactiv-display-large {
        max-width: 80%;
        padding-top: 3rem;
    }
    .impactiv-body-large {
        max-width: 60%;
        opacity: 0.87;
    }
    .img__container {
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            width: 12rem;
            height: 7rem;
        }
    }
    .arrow {
        margin-left: 1.5rem;
    }
    .btn {
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
        &:hover {
            img {
                animation: slide 1s ease-in-out infinite;
            }
        }
    }
    .noise {
        position: fixed;
        left: 0;
        top: -80%;
        right: 0;
        bottom: -80%;
        z-index: -1;
        display: block;
        background-image: url("../../../assets/images/bg/noise.gif");
        background-position: 0 0;
        background-size: auto;
        opacity: 0.05;
    }

    @media (max-width: 576px) {
        padding-top: 2rem;
        .impactiv-display-large {
            max-width: 80%;
            padding-top: 2rem;
        }
        .impactiv-body-large {
            max-width: 90%;
        }
        .img__container {
            .img {
                width: 8rem;
                height: 5rem;
            }
        }
        .btn {
            padding: 0.75rem 1.25rem 0.75rem 1.25rem;
        }
        .arrow {
            margin-left: 1rem;
        }
      }
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(-5px, 5px);
    }
  
    50% {
      transform: translate(5px, -5px);
    }
    
    100% {
        transform: translate(0, 0);
      }
  }

 
  