<div class="impactiv-coming-soon">
  <div
    class="container-xl d-flex flex-column justify-content-center align-items-center mb-4"
  >
    <div class="img__container">
      <img
        class="img"
        src="assets/images/icons/logo_vertical.svg"
        alt="Logo Impactiv - Digital Expert"
      />
    </div>
    <div class="noise"></div>
    <h1 class="impactiv-display-large align-self-center text-center mb-3">
      10 ans déjà ! Découvrez bientôt notre nouveau site.
    </h1>
    <p class="impactiv-body-large align-self-center text-center mb-4">
      Dix années qu'Impactiv accompagne vos ambitions digitales ! Et ce n'est
      que le début, nous avons grandi, progressé, et avons hâte de vous le
      montrer dans la refonte de notre site internet.
    </p>
    <a
      class="impactiv-button-large btn btn-primary rounded-pill"
      [href]="email"
      (click)="email = 'mailto:' + name + '@' + domain"
      target="_blank"
      >Contactez-nous<img
        class="img arrow"
        src="assets/images/icons/arrow.svg"
        alt="Contactez nous Impactiv"
    /></a>
  </div>
  <impactiv-gallery></impactiv-gallery>
</div>
