.impactiv-coming-soon {
    padding-top: 4rem;
    .impactiv-display-large {
        max-width: 80%;
    }
    .impactiv-body-large {
        max-width: 60%;
        opacity: 0.87;
    }
    .img__container {
        width: 4rem;
        height: 4rem;
        background: linear-gradient(136.81deg, rgba(255, 255, 255, 0.4) 2.02%, rgba(255, 255, 255, 0.1) 101.07%);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
            width: 2rem;
            height: 2rem;
        }
    }
    .btn {
        padding: 0.75rem 1.5rem 0.75rem 1.5rem;
        &:hover {
            img {
                animation: slide 1s ease-in-out infinite;
            }
        }
    }
    .noise {
        position: fixed;
        left: 0;
        top: -80%;
        right: 0;
        bottom: -80%;
        z-index: -1;
        display: block;
        background-image: url("../../../assets/images/bg/noise.gif");
        background-position: 0 0;
        background-size: auto;
        opacity: 0.05;
    }

    @media (max-width: 576px) {
        padding-top: 2rem;
        .impactiv-display-large {
            max-width: 80%;
        }
        .impactiv-body-large {
            max-width: 80%;
        }
      }
}

@keyframes slide {
    0% {
        transform: translate(0, 0);
    }

    30% {
        transform: translate(-5px, 5px);
    }
  
    50% {
      transform: translate(5px, -5px);
    }
    
    100% {
        transform: translate(0, 0);
      }
  }

 
  