.timeline {
  background-image: url("../../../../assets/images/bg/bg_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-top: 1px solid var(--bs-gray-100);
  height: 1200px;
  margin-right: auto;
  margin-left: auto;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 1296px;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    margin: 0 auto;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 5rem;
  }
  &__subtitle {
    max-width: 58%;
    margin-bottom: 0;
  }
  &__schema {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    margin: 0 auto;
  }
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__background > img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
  }
  &__date {
    --top-row-1: 3.7%;
    --top-row-2: 48.9%;
    --top-row-3: 94.3%;
    --left-column-1: 9%;
    --left-column-2: 39%;
    --left-column-3: 68%;
    position: absolute;
    width: 305px;
    &--1,
    &--8 {
      .timeline__date__circle {
        background-color: var(--bs-primary);
      }
    }
    &--1 {
      top: var(--top-row-1);
      left: var(--left-column-2);
    }
    &--2 {
      top: var(--top-row-1);
      left: var(--left-column-1);
    }
    &--3 {
      top: var(--top-row-2);
      left: var(--left-column-1);
    }
    &--4 {
      top: var(--top-row-2);
      left: var(--left-column-2);
    }
    &--5 {
      top: var(--top-row-2);
      left: var(--left-column-3);
    }
    &--6 {
      top: var(--top-row-3);
      left: var(--left-column-3);
    }
    &--7 {
      top: var(--top-row-3);
      left: var(--left-column-2);
    }
    &--8 {
      top: var(--top-row-3);
      left: var(--left-column-1);
    }
    &__circle {
      flex-shrink: 0;
      width: 0.8rem;
      height: 0.8rem;
      margin-left: 1rem;
      background: var(--bs-white);
      border: 2px solid var(--bs-primary);
      border-radius: 50%;
      outline: 3px solid var(--bs-white);
    }
    &__icon {
      margin-top: 1.6rem;
      width: 3rem;
      height: 3rem;
      box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: var(--bs-border-radius);
    }
    &__title {
      margin-top: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }
  @media (max-width: 1399.98px) {
    &__background {
      display: none;
    }
    &__schema {
      height: auto;
      padding-bottom: 0;
    }
    &__schema::before {
      position: absolute;
      top: 24px;
      bottom: 0;
      left: 25px;
      width: 1px;
      content: "";
      background-color: var(--bs-primary);
    }
    &__date {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 3rem;
      top: 0;
      left: 0;
      &__circle {
        position: relative;
        margin-top: 0;
        margin-left: 0;
      }
      &__content {
        margin-top: 0;
        margin-left: 1rem;
      }
      &__icon {
        margin-top: 0;
        margin-left: 2rem;
      }
      &__title,
      &__description {
        margin-top: 0;
        margin-bottom: 0;
      }
    }
  }
  @media (max-width: 991.98px) {
    overflow: initial;
    height: auto;
    &__subtitle {
      max-width: 100%;
    }
    &__date {
      margin-top: 2rem;
    }
    &__container,
    &__schema {
      padding-bottom: 0;
      height: 100%;
    }
  }
  @media (max-width: 575.98px) {
    &__date {
      margin-top: 3rem;
      flex-direction: column;
      align-items: flex-start;
      &__content {
        margin-top: 0.5rem;
        margin-left: 2rem;
      }
      &__icon {
        margin-top: -0.8rem;
      }
    }
  }
}
