<div class="timeline container-fluid d-flex flex-column justify-content-start align-items-center">
  <div class="container timeline__content text-center">
    <h1 class="impactiv-display-small">
      De la <span class="with-underline">vision</span> à la réalité.
    </h1>
    <p class="impactiv-body-regular timeline__subtitle">
      D'un constat de nécessité de développer l'affichage dynamique sur le
      marché français à notre place actuelle d'acteur multi-solutions
      incontournable dans l'écosystème retail & restauration, retrouvez
      ci-dessous quelques étapes clés de notre aventure
    </p>
  </div>
  <div class="timeline__container">
    <div class="timeline__schema container">
      <div class="timeline__background">
        <img
          src="assets/images/contents/timeline/timeline.svg"
          height="20148"
          width="19681"
          draggable="false"
        />
      </div>
      <div class="timeline__date timeline__date--1">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2012.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2012</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small">La création,</span> notre
            vision, bouleverser le secteur de l’Affichage Dynamique, par une
            approche clé en main.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--2">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2013.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2013</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small">La naissance de MyPlay,</span>
            solution logicielle de gestion de contenu temps réel.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--3">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2015.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2015</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small"
              >Un premier cap symbolique,</span
            >
            100 sites équipés par nos solutions d’affichage dynamique.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--4">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2017.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2017</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small">MyPlay v2 voit le jour,</span>
            solution 100% SaaS intégrant de nouvelles fonctionnalités majeures.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--5">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2018.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2018</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small"
              >Une décision stratégique,</span
            >
            création du pôle développement de solutions digitales.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--6">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2020.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2020</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small">Premier contrat,</span> de
            prestation pour un leader des services de qualité de vie.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--7">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2021.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2021</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small">Accords de prestations,</span>
            solution de mesure d’affluence et intégration d’une solution
            d’étiquettes connectées.
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--8">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2022.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2022</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span class="impactiv-headline-small">10 ans déjà,</span> poursuivre
            et intensifier notre croissance sur de nouveaux marchés et de
            nouveaux territoires.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
