<div
  class="timeline container-impactiv d-flex flex-column justify-content-start align-items-center"
>
  <div class="container timeline__content text-center">
    <h1 class="impactiv-display-small">
      <span i18n="Text|timeline title@@TIMELINE-TITLE-ONE"
        >TIMELINE-TITLE-ONE</span
      >&nbsp;<span
        class="with-underline"
        i18n="Text|timeline title@@TIMELINE-TITLE-TWO"
        >TIMELINE-TITLE-TWO</span
      >&nbsp;<span i18n="Text|timeline title@@TIMELINE-TITLE-THREE"
        >TIMELINE-TITLE-THREE</span
      >
    </h1>
    <p
      class="impactiv-body-regular timeline__subtitle"
      i18n="Text|timeline title@@TIMELINE-DESCRIPTION"
    >
      TIMELINE-DESCRIPTION
    </p>
  </div>
  <div class="timeline__container">
    <div class="timeline__schema container">
      <div class="timeline__background">
        <img
          src="assets/images/contents/timeline/timeline.svg"
          height="20148"
          width="19681"
          draggable="false"
        />
      </div>
      <div class="timeline__date timeline__date--1">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2012.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2012</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2012-ONE"
              >TIMELINE-2012-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2012-TWO"
              >TIMELINE-2012-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--2">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2013.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2013</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2013-ONE"
              >TIMELINE-2013-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2013-TWO"
              >TIMELINE-2013-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--3">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2015.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2015</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2015-ONE"
              >TIMELINE-2015-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2015-TWO"
              >TIMELINE-2015-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--4">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2017.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2017</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2017-ONE"
              >TIMELINE-2017-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2017-TWO"
              >TIMELINE-2017-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--5">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2018.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2018</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2018-ONE"
              >TIMELINE-2018-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2018-TWO"
              >TIMELINE-2018-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--6">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2020.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2020</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2020-ONE"
              >TIMELINE-2020-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2020-TWO"
              >TIMELINE-2020-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--7">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2021.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2021</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2021-ONE"
              >TIMELINE-2021-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2021-TWO"
              >TIMELINE-2021-TWO</span
            >
          </p>
        </div>
      </div>
      <div class="timeline__date timeline__date--8">
        <div class="timeline__date__circle"></div>
        <img
          class="timeline__date__icon"
          src="assets/images/contents/timeline/2022.png"
        />
        <div class="timeline__date__content">
          <h4 class="timeline__date__title impactiv-headline-regular">2022</h4>
          <p class="timeline__date__description impactiv-body-regular">
            <span
              class="impactiv-headline-small"
              i18n="Text|timeline part one@@TIMELINE-2022-ONE"
              >TIMELINE-2022-ONE</span
            >&nbsp;<span i18n="Text|timeline part two@@TIMELINE-2022-TWO"
              >TIMELINE-2022-TWO</span
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
