.footer {
    background: rgba(17, 17, 17, 0.85);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    z-index: 2;
    &__row {
        display: flex;
        align-items: center;
        height: 4rem;
    }
    &__love {
        color: var(--bs-primary);
    }
    a {
        color: white;
        opacity: 0.6;
        text-decoration: none;
    }
}
