<footer class="footer impactiv-body-small fixed-bottom">
    <div class="container-xl">
        <div class="footer__row row d-flex justify-content-between fs-12-14-500">
            <div class="col-12 col-md-4 text-center text-md-start">
                © Impactiv 2022 - Made with
                <span class="footer__love">love</span>
                by Impactiv
            </div>
            <div class="d-flex justify-content-end col-12 col-md-4 text-end text-md-end">
                <a class="ms-4">Cookies</a>
                <a class="ms-4">Confidentialités</a>
            </div>
        </div>
    </div>
</footer>