.footer {
    background: rgba(16, 27, 38, 0.85);
    border-top: 1px solid #1D1D1D;
    backdrop-filter: blur(40px);
    z-index: 2000;
    &__row {
        display: flex;
        align-items: center;
        height: 4rem;
    }
    &__love {
        color: var(--bs-primary);
    }
    a {
        color: white;
        opacity: 0.6;
        text-decoration: none;
    }
}
