.footer {
    background: rgba(16, 27, 38, 0.85);
    border-top: 1px solid #1D1D1D;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: 2000;
    &__row {
        display: flex;
        align-items: center;
        height: 4rem;
    }
    &__love {
        color: var(--bs-primary);
        width: 1.2rem;
        height: 1.2rem;
    }
}
