.grid-container {
    display: grid;
    grid-template-columns: repeat(29, 1fr);
    grid-template-rows: repeat(4, 110px);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    height: 26rem;

    div {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .square {
        padding-top: 100%; /* padding trick pour les images carrés */
        box-sizing: border-box;
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("../../../assets/images/gallery/docker.svg");
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url("../../../assets/images/gallery/angular.svg");
}
.div3 {
    grid-area: 3 / 1 / 5 / 5;
    background-image: url("../../../assets/images/gallery/coding.gif");
}
.div4 {
    grid-area: 2 / 2 / 3 / 4;
    background-image: url("../../../assets/images/gallery/solutions.gif");
}
.div5 {
    grid-area: 1 / 4 / 3 / 6;
    background-image: url("../../../assets/images/gallery/consultation.png");
}
.div6 {
    grid-area: 3 / 5 / 5 / 7;
    background-image: url("../../../assets/images/gallery/tour.png");
}
.div7 {
    grid-area: 1 / 6 / 2 / 7;
    background-image: url("../../../assets/images/gallery/sodexo.svg");
}
.div8 {
    grid-area: 2 / 6 / 3 / 7;
    background-image: url("../../../assets/images/gallery/vscode.svg");
}
.div9 {
    grid-area: 2 / 7 / 5 / 9;
    background-image: url("../../../assets/images/gallery/hotel.png");
}
.div10 {
    grid-area: 1 / 9 / 2 / 10;
    background-image: url("../../../assets/images/gallery/gitlab.png");
}
.div11 {
    grid-area: 2 / 9 / 3 / 10;
    background-image: url("../../../assets/images/gallery/sport.png");
}
.div12 {
    grid-area: 3 / 9 / 5 / 12;
    background-image: url("../../../assets/images/gallery/print.png");
}
.div13 {
    grid-area: 1 / 10 / 3 / 12;
    background-image: url("../../../assets/images/gallery/etc.gif");
}
.div14 {
    grid-area: 1 / 12 / 2 / 13;
    background-image: url("../../../assets/images/gallery/party.png");
}
.div15 {
    grid-area: 2 / 12 / 4 / 14;
    background-image: url("../../../assets/images/gallery/vin.png");
}
.div16 {
    grid-area: 1 / 15 / 2 / 16;
    background-image: url("../../../assets/images/gallery/elior.png");
}
.div17 {
    grid-area: 2 / 14 / 4 / 16;
    background-image: url("../../../assets/images/gallery/affluence.png");
}
.div18 {
    grid-area: 1 / 16 / 3 / 19;
    background-image: url("../../../assets/images/gallery/resto.png");
}
.div19 {
    grid-area: 3 / 16 / 4 / 17;
    background-image: url("../../../assets/images/gallery/mcdo.png");
}
.div20 {
    grid-area: 3 / 17 / 4 / 19;
    background-image: url("../../../assets/images/gallery/equipe.png");
}
.div21 {
    grid-area: 1 / 19 / 2 / 21;
    background-image: url("../../../assets/images/gallery/composant.png");
}
.div22 {
    grid-area: 1 / 21 / 2 / 22;
    background-image: url("../../../assets/images/gallery/constructa.png");
}
.div23 {
    grid-area: 2 / 19 / 4 / 22;
    background-image: url("../../../assets/images/gallery/webapp1.png");
}
.div24 {
    grid-area: 2 / 22 / 3 / 23;
    background-image: url("../../../assets/images/gallery/bootstrap.png");
}
.div25 {
    grid-area: 3 / 22 / 4 / 23;
    background-image: url("../../../assets/images/gallery/unilever.png");
}
.div26 {
    grid-area: 1 / 23 / 3 / 26;
    background-image: url("../../../assets/images/gallery/etcduo.gif");
}
.div27 {
    grid-area: 3 / 23 / 3 / 26;
    background-image: url("../../../assets/images/gallery/dev.png");
}
.div28 {
    grid-area: 2 / 26 / 3 / 27;
    background-image: url("../../../assets/images/gallery/cbre.png");
}
.div29 {
    grid-area: 3 / 26 / 4 / 27;
    background-image: url("../../../assets/images/gallery/figma.png");
}
.div30 {
    grid-area: 2 / 27 / 4 / 30;
    background-image: url("../../../assets/images/gallery/metro.png");
    margin-right: 20px;
}

.marquee {
    --gap: 0.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    height: 29rem;

    &__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 270%;
        animation: scroll 35s linear infinite;
    }
}

// Animation défilement infinie
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

// Grille Responsive
@media (min-width: 1500px) {
    .marquee {
        height: 36rem;
        &__content {
            min-width: 210%;
        }
    }
    .grid-container {
        grid-template-rows: repeat(4, 115px);
        height: 33rem;
    }
}

@media (max-width: 992px) {
    .marquee {
        height: 38rem;
        &__content {
            min-width: 200%;
        }
    }
    .grid-container {
        height: 33rem;
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-template-rows: repeat(4, 100px);
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        height: 26rem;
        .div30 {
            margin-right: 10px;
        }
    }
    .marquee {
        height: 28rem;
        &__content {
            min-width: 740%;
            animation: scroll 30s linear infinite;
        }
    }
}

@media (max-width: 380px) {
    .marquee {
        display: none;
    }
}
