<div class="marquee">
    <div class="marquee__content">
        <div class="grid-container fixed-bottom mt-4">
            <div class="div1 short"><img class="img" src="assets/images/gallery/docker.svg" alt="Party Impactiv" /></div>
            <div class="div2 short"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div3 large"><img class="img" src="assets/images/gallery/grid_3.png" alt="Party Impactiv" /> </div>
            <div class="div4 short"><img class="img" src="assets/images/gallery/sodexo.svg" alt="Party Impactiv" /> </div>
            <div class="div5 medium"><video loop autoplay width="228" height="110"><source src="assets/images/gallery/etiquette.mp4" type="video/mp4"></video></div>
            <div class="div6 high"><img class="img" src="assets/images/gallery/total.png" alt="Party Impactiv" /> </div>
            <div class="div7 short"><img class="img" src="assets/images/gallery/vscode.svg" alt="Party Impactiv" /> </div>
            <div class="div8 "> 8</div>
            <div class="div9 medium"><img class="img" src="assets/images/gallery/code.png" alt="Party Impactiv" /> </div>
            <div class="div10 large"><img class="img" src="assets/images/gallery/consultation.png" alt="Party Impactiv" /></div>
            <div class="div11 large"><img class="img" src="assets/images/gallery/defense.png" alt="Party Impactiv" /> </div>
            <div class="div12 short"><img class="img" src="assets/images/gallery/notion.svg" alt="Party Impactiv" /> </div>
            <div class="div13 short"><img class="img" src="assets/images/gallery/sport.svg" alt="Party Impactiv" /> </div>
            <div class="div14 short"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div15"> 15</div>
            <div class="div16"> 16</div>
        </div>
    </div>

    <!-- Duplication de la grille pour les besoins de l'animation continue -->
    <div class="marquee__content" aria-hidden="true">
        <div class="grid-container fixed-bottom mt-4">
            <div class="div1 short"><img class="img" src="assets/images/gallery/docker.svg" alt="Party Impactiv" /></div>
            <div class="div2 short"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div3 large"><img class="img" src="assets/images/gallery/grid_3.png" alt="Party Impactiv" /> </div>
            <div class="div4 short"><img class="img" src="assets/images/gallery/sodexo.svg" alt="Party Impactiv" /> </div>
            <div class="div5 medium"><video loop autoplay width="228" height="110"><source src="assets/images/gallery/etiquette.mp4" type="video/mp4"></video></div>
            <div class="div6 high"><img class="img" src="assets/images/gallery/total.png" alt="Party Impactiv" /> </div>
            <div class="div7 short"><img class="img" src="assets/images/gallery/vscode.svg" alt="Party Impactiv" /> </div>
            <div class="div8 "> 8</div>
            <div class="div9 medium"><img class="img" src="assets/images/gallery/code.png" alt="Party Impactiv" /> </div>
            <div class="div10 large"><img class="img" src="assets/images/gallery/consultation.png" alt="Party Impactiv" /></div>
            <div class="div11 large"><img class="img" src="assets/images/gallery/defense.png" alt="Party Impactiv" /> </div>
            <div class="div12 short"><img class="img" src="assets/images/gallery/notion.svg" alt="Party Impactiv" /> </div>
            <div class="div13 short"><img class="img" src="assets/images/gallery/sport.svg" alt="Party Impactiv" /> </div>
            <div class="div14 short"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div15"> 15</div>
            <div class="div16"> 16</div>
        </div>
    </div>
</div>