.grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    height: 26rem;

    // Temporairement le temps du dev
    div {
        background-color: #0575e6;
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
}
.div3 {
    grid-area: 3 / 1 / 5 / 3;
}
.div4 {
    grid-area: 2 / 2 / 3 / 3;
}
.div5 {
    grid-area: 2 / 3 / 3 / 5;
}
.div6 {
    grid-area: 3 / 3 / 5 / 4;
}
.div7 {
    grid-area: 3 / 4 / 4 / 5;
}
.div8 {
    grid-area: 4 / 4 / 5 / 7;
}
.div9 {
    grid-area: 3 / 5 / 4 / 7;
}
.div10 {
    grid-area: 1 / 5 / 3 / 7;
}
.div11 {
    grid-area: 2 / 7 / 5 / 9;
}
.div12 {
    grid-area: 1 / 9 / 2 / 10;
}
.div13 {
    grid-area: 2 / 9 / 3 / 10;
}
.div14 {
    grid-area: 3 / 9 / 5 / 10;
}
.div15 {
    grid-area: 2 / 10 / 4 / 13;
    margin-right: 15px;
}
.div16 {
    grid-area: 4 / 10 / 5 / 13;
    margin-right: 15px;
}

.marquee {
    --gap: 0.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    height: 31rem;
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}
.marquee__content {
    animation: scroll 15s linear infinite;
}
