.grid-container {
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    height: 26rem;

    div {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .square {
        padding-top: 100%; /* padding trick pour les images carrés */
        box-sizing: border-box;
    }
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url("../../../assets/images/gallery/docker.svg");
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url("../../../assets/images/gallery/angular.svg");
}
.div3 {
    grid-area: 3 / 1 / 4 / 3;
    background-image: url("../../../assets/images/gallery/composant.png");
}
.div4 {
    grid-area: 2 / 2 / 3 / 4;
    background-image: url("../../../assets/images/gallery/affichage.png");
}
.div5 {
    grid-area: 3 / 3 / 4 / 5;
    background-image: url("../../../assets/images/gallery/coding.gif");
}
.div6 {
    grid-area: 1 / 4 / 3 / 6;
    background-image: url("../../../assets/images/gallery/consultation.png");
}
.div7 {
    grid-area: 3 / 5 / 5 / 6;
    background-image: url("../../../assets/images/gallery/tour.png");
}
.div8 {
    grid-area: 2 / 6 / 3 / 7;
    background-image: url("../../../assets/images/gallery/sodexo.svg");
}
.div9 {
    grid-area: 3 / 6 / 4 / 7;
    background-image: url("../../../assets/images/gallery/vscode.svg");
}
.div10 {
    grid-area: 2 / 7 / 5 / 9;
    background-image: url("../../../assets/images/gallery/hall.png");
}
.div11 {
    grid-area: 1 / 9 / 2 / 10;
    background-image: url("../../../assets/images/gallery/gitlab.png");
}
.div12 {
    grid-area: 2 / 9 / 3 / 10;
    background-image: url("../../../assets/images/gallery/sport.svg");
}
.div13 {
    grid-area: 3 / 9 / 5 / 12;
    background-image: url("../../../assets/images/gallery/postman.png");
}
.div14 {
    grid-area: 1 / 10 / 3 / 13;
    background-image: url("../../../assets/images/gallery/restaurant.png");
}
.div15 {
    grid-area: 3 / 12 / 4 / 13;
    background-image: url("../../../assets/images/gallery/mcdo.png");
}
.div16 {
    grid-area: 1 / 13 / 3 / 15;
    background-image: url("../../../assets/images/gallery/vin.png");
}
.div17 { grid-area: 3 / 13 / 4 / 15; background-image: url("../../../assets/images/gallery/mesure.png");}
.div18 { grid-area: 1 / 15 / 2 / 16; background-image: url("../../../assets/images/gallery/elior.png");}
.div19 { grid-area: 2 / 15 / 3 / 16; background-image: url("../../../assets/images/gallery/party.png");}
.div20 { grid-area: 3 / 15 / 4 / 18; background-image: url("../../../assets/images/gallery/equipe.png"); margin-right: 15px;}
.div21 { grid-area: 1 / 16 / 3 / 18; background-image: url("../../../assets/images/gallery/composant2.png"); margin-right: 15px;}

.marquee {
    --gap: 0.5rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    height: 31rem;

    &__content {
        flex-shrink: 0;
        display: flex;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 150%;
        animation: scroll 15s linear infinite;
    }
}

// Animation
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

@media (max-width: 992px) {
    .marquee {
        height: 38rem;
        &__content {
            min-width: 200%;
        }
    }
    .grid-container {
        height: 33rem;
    }
}

@media (max-width: 576px) {
    .grid-container {
        grid-column-gap: 16px;
        grid-row-gap: 16px;
        height: 26rem;
    }
    .marquee {
        height: 28rem;
        &__content {
            min-width: 300%;
        }
    }
}

@media (max-width: 380px)  {
    .marquee {
        display: none;
    }
}