<div class="marquee">
    <div class="marquee__content">
        <div class="grid-container fixed-bottom mt-4">
            <div class="div1"><img class="img" src="assets/images/gallery/docker.svg" alt="Party Impactiv" /></div>
            <div class="div2"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div3"><img class="img" src="assets/images/gallery/grid_3.png" alt="Party Impactiv" /> </div>
            <div class="div4"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div5">5</div>
            <div class="div6">6</div>
            <div class="div7"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div8"> 8</div>
            <div class="div9"> 9</div>
            <div class="div10">10 </div>
            <div class="div11"> 11</div>
            <div class="div12"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div13"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div14"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div15"> 15</div>
            <div class="div16"> 16</div>
        </div>
    </div>

    <div class="marquee__content" aria-hidden="true">
        <div class="grid-container fixed-bottom mt-4">
            <div class="div1"><img class="img" src="assets/images/gallery/docker.svg" alt="Party Impactiv" /></div>
            <div class="div2"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div3"><img class="img" src="assets/images/gallery/grid_3.png" alt="Party Impactiv" /> </div>
            <div class="div4"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div5">5</div>
            <div class="div6">6</div>
            <div class="div7"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div8"> 8</div>
            <div class="div9"> 9</div>
            <div class="div10">10 </div>
            <div class="div11"> 11</div>
            <div class="div12"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div13"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div14"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div15"> 15</div>
            <div class="div16"> 16</div>
        </div>
    </div>
</div>