<div class="marquee">
    <div class="marquee__content">
        <div class="grid-container fixed-bottom mt-4">
            <div class="div1"><img class="img" src="assets/images/gallery/docker.svg" alt="Party Impactiv" /></div>
            <div class="div2"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div3"><img class="img" src="assets/images/gallery/grid_3.png" alt="Party Impactiv" /> </div>
            <div class="div4"><img class="img" src="assets/images/gallery/sodexo.svg" alt="Party Impactiv" /> </div>
            <div class="div5"><img class="img" src="assets/images/gallery/etiquette.png" alt="Party Impactiv" /> </div>
            <div class="div6">6</div>
            <div class="div7"><img class="img" src="assets/images/gallery/vscode.svg" alt="Party Impactiv" /> </div>
            <div class="div8"> 8</div>
            <div class="div9"><img class="img" src="assets/images/gallery/code.png" alt="Party Impactiv" /> </div>
            <div class="div10">10 </div>
            <div class="div11"> 11</div>
            <div class="div12"><img class="img" src="assets/images/gallery/notion.svg" alt="Party Impactiv" /> </div>
            <div class="div13"><img class="img" src="assets/images/gallery/sport.svg" alt="Party Impactiv" /> </div>
            <div class="div14"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div15"> 15</div>
            <div class="div16"> 16</div>
        </div>
    </div>

    <!-- Duplication de la grille pour les besoins de l'animation continue -->
    <div class="marquee__content" aria-hidden="true">
        <div class="grid-container fixed-bottom mt-4">
            <div class="div1"><img class="img" src="assets/images/gallery/docker.svg" alt="Party Impactiv" /></div>
            <div class="div2"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div3"><img class="img" src="assets/images/gallery/grid_3.png" alt="Party Impactiv" /> </div>
            <div class="div4"><img class="img" src="assets/images/gallery/sodexo.svg" alt="Party Impactiv" /> </div>
            <div class="div5"><img class="img" src="assets/images/gallery/etiquette.png" alt="Party Impactiv" /> </div>
            <div class="div6">6</div>
            <div class="div7"><img class="img" src="assets/images/gallery/vscode.svg" alt="Party Impactiv" /> </div>
            <div class="div8"> 8</div>
            <div class="div9"><img class="img" src="assets/images/gallery/code.png" alt="Party Impactiv" /></div>
            <div class="div10">10 </div>
            <div class="div11"> 11</div>
            <div class="div12"><img class="img" src="assets/images/gallery/notion.svg" alt="Party Impactiv" /> </div>
            <div class="div13"><img class="img" src="assets/images/gallery/sport.svg" alt="Party Impactiv" /> </div>
            <div class="div14"><img class="img" src="assets/images/gallery/angular.svg" alt="Party Impactiv" /> </div>
            <div class="div15"> 15</div>
            <div class="div16"> 16</div>
        </div>
    </div>
</div>