.response {
  padding-top: 5rem;
  &-text {
    margin-bottom: 2rem;
  }
  &-list {
    margin-bottom: 3rem;
  }
  &-items {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--bs-gray-005);
    border: 1px solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius-sm);
    margin-bottom: 1rem;
  }
  &-image {
    border-radius: var(--bs-border-radius-sm);
    border: 1px solid var(--bs-gray-100);
    border-style: outset;
    &-container {
      border-radius: var(--bs-border-radius-sm);
    }
  }
}
