.navbar {
  background: transparent;
  color: var(--bs-white);
  height: 5.75rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  &-brand {
    img {
      height: auto;
      width: 10.4rem;
    }
  }
  button,
  a {
    border-radius: var(--bs-border-radius-sm);
  }

  .navbar-toggler {
    border: none;
    i {
      color: var(--bs-gray-1000);
    }
  }
  .nav-item {
    padding: 0 0.25rem;
  }
  .nav-title {
    padding: 0.5rem;
  }
  .nav-link {
    color: var(--bs-secondary);
    &:hover {
      background-color: var(--bs-gray-100);
    }
  }
  .btn-simple-text {
    padding: 0.7rem 0.5rem;
  }
  .divider {
    color: var(--bs-gray-100);
    padding: 0 1rem;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .dropdown-menu {
    padding: 0.5rem;
    margin-left: 0.2rem;
    .dropdown-item {
      display: flex;
      border-radius: var(--bs-border-radius);
      white-space: initial !important;
      padding: 0.5rem;
      .picture {
        min-height: 3rem;
        min-width: 3rem;
        width: 3rem;
        align-items: center;
        justify-content: center;
        background: var(--bs-gray-100);
        border: 1px solid var(--bs-gray-1000);
        border-radius: var(--bs-border-radius);
      }
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 0.5rem;
        min-width: 17.75rem;
        p {
          color: var(--bs-gray-600);
          margin: 0;
        }
        h1 {
          margin-bottom: 0.1rem;
        }
      }
    }

    .dropdown-item:hover,
    .dropdown-item.active {
      background-color: var(--bs-blue-100);
      color: var(--bs-body-color);
      .picture {
        background: var(--bs-blue-100);
        border: 1px solid var(--bs-primary);
      }
    }
  }

  .solutions {
    display: flex;
    flex-direction: row;
  }

  .icon-linkedin {
    color: var(--bs-gray-400);
  }

  a[aria-expanded="true"],
  button[aria-expanded="true"] {
    background-color: var(--bs-gray-100);
    color: var(--bs-body-color);
  }

  a[aria-expanded="true"] .bi-chevron-down,
  button[aria-expanded="true"] .bi-list {
    display: none;
  }
  a[aria-expanded="false"] .bi-chevron-up,
  button[aria-expanded="false"] .bi-x {
    display: none;
  }

  @media (max-width: 1199.98px) {
    padding: 0 1rem;

    .navbar-collapse {
      margin-top: 1rem;
      padding: 0.5rem 1rem 1rem 1rem;
      background-color: var(--bs-gray-1000);
      width: 100%;
    }
    .nav-link {
      color: var(--bs-white);
    }
    .btn-linkedin {
      color: var(--bs-white) !important;
    }
    .btn-gray-outline {
      &:hover {
        background-color: var(--bs-gray-900);
      }
    }
    .dropdown-menu {
      padding: 0rem;
      background-color: var(--bs-gray-1000);
      border: none;
      li {
        padding-top: 0.5rem;
      }
      li:last-child {
        padding-bottom: 1rem;
      }
      .dropdown-item {
        padding: 0.25rem;
        color: var(--bs-white);
        .picture {
          background: var(--bs-gray-900);
          border: 1px solid var(--bs-white);
        }
        .content {
          padding-left: 1rem;
          min-width: auto;
        }
      }

      .use-case {
        justify-content: flex-start;
      }

      .dropdown-item.active {
        background-color: var(--bs-gray-100);
        color: var(--bs-body-color);
      }
    }
    .solutions {
      flex-wrap: wrap;
      &__article {
        margin-top: 1rem;
        padding: 1rem;
        img {
          width: 100%;
          height: auto;
        }
        button {
          color: var(--bs-secondary);
        }
      }
    }

    .divider {
      background: linear-gradient(
        to right,
        var(--bs-secondary),
        var(--bs-gray-800),
        var(--bs-gray-800),
        var(--bs-secondary)
      );
      height: 0.1rem;
      margin: 1rem 0;
    }
    .btn {
      width: 100%;
    }
  }
}
