.other-solutions {
  padding-top: 3rem;
  &-container {
    padding-top: 8rem;
  }
  &-card {
    background-color: var(--bs-blue-003);
    border: 1px solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius-sm);
    height: 512px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      animation: animatedBackground 400ms ease-in-out forwards;
      .other-solutions {
        &-card__content {
          color: white;
        }
        &__picture {
          background-color: white;
        }
        &__button {
          background-color: white;
          border-color: white;
          span,
          .bi::before {
            color: var(--bs-gray-1000);
          }
        }
      }
    }
  }
  &__button {
    width: fit-content;
    &:hover {
      .bi::before {
        animation: slide-right 0.8s ease-in-out infinite;
      }
    }
    &-dark {
      border-radius: var(--bs-border-radius-sm);
    }
  }
  &__picture {
    display: flex;
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    width: 3rem;
    align-items: center;
    justify-content: center;
    background: var(--bs-blue-100);
    border-radius: var(--bs-border-radius);
  }
  @media (max-width: 991.98px) {
    &-card {
      height: 330px;
    }
  }
  @media (max-width: 575.98px) {
    padding-top: 1rem;
    &-container {
      padding-top: 3rem;
      margin-bottom: 3rem;
      width: auto;
    }
  }
}
.card-developpementSurMesure {
  &:hover {
    background-image: linear-gradient(
        0deg,
        var(--bs-blue-200),
        var(--bs-blue-200)
      ),
      url("../../../../assets/images/bg/other_dsm.png") !important;
  }
}
.card-affluence {
  &:hover {
    background-image: linear-gradient(
        0deg,
        var(--bs-blue-200),
        var(--bs-blue-200)
      ),
      url("../../../../assets/images/bg/other_affluence.png") !important;
  }
}
.card-affichageDynamique {
  &:hover {
    background-image: linear-gradient(
        0deg,
        var(--bs-blue-200),
        var(--bs-blue-200)
      ),
      url("../../../../assets/images/bg/other_screen.png") !important;
  }
}
