.navbar {
    background: rgba(17, 17, 17, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    color: white;
    height: 3.8rem;
    padding: 0;
    z-index: 1;
    &-brand {
        padding-top: 0;
    }
}
.nav-link {
    color: var(--bs-primary);
    background: rgba(5, 117, 230, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.8rem;
    font-size: 0.85rem;
}
