<header>
  <nav class="navbar navbar-expand-xl">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img
          src="assets/images/icons/logo_h_color.svg"
          alt="Love Impactiv"
          class="d-inline-block align-text-top"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="bi bi-list mx-2"></i>
        <i class="bi bi-x mx-2"></i>
      </button>
      <div class="collapse navbar-collapse rounded" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex justify-content-between"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span>Solutions</span>
              <i class="bi bi-chevron-down mx-2"></i>
              <i class="bi bi-chevron-up mx-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li *ngFor="let item of solutions; let i = index">
                <a
                  class="dropdown-item"
                  href="#"
                  (mouseover)="hoveringIndex = i"
                  (mouseout)="hoveringIndex = null"
                >
                  <div class="picture d-flex">
                    <picture>
                      <source
                        [srcset]="
                          'assets/images/icons/header/' +
                          (hoveringIndex === i ? 'bleu' : 'gris') +
                          '/' +
                          item.icon
                        "
                        type="image/svg+xml"
                      />
                      <img
                        [srcset]="
                          'assets/images/icons/header/' +
                          (hoveringIndex === i ? 'bleu' : 'gris') +
                          '/' +
                          item.icon
                        "
                        [alt]="item.alt"
                      />
                    </picture>
                  </div>
                  <div class="content">
                    <h1 class="impactiv-button-regular">{{ item.title }}</h1>
                    <p class="impactiv-body-small">{{ item.description }}</p>
                  </div>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle d-flex justify-content-between"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <span> Expertises</span>
              <i class="bi bi-chevron-down mx-2"></i>
              <i class="bi bi-chevron-up mx-2"></i>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">An other action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Entreprise</a>
          </li>
          <li class="nav-item divider align-items-center d-xl-flex">
            <span class="d-none d-xl-flex">|</span>
          </li>
          <li class="nav-item">
            <button type="button btn-sm" class="btn nav-link">
              <span class="align-middle impactiv-button-regular"
                >Appelez-nous</span
              >
            </button>
          </li>
          <li class="nav-item">
            <button type="button btn-sm" class="btn demo">
              <span class="align-middle impactiv-button-regular"
                >Demander une démo</span
              ><i
                class="bi bi-arrow-right-short ms-2 align-middle demo__arrow-icon"
                aria-hidden="true"
              ></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
