.navbar {
  background: transparent;
  color: white;
  height: 5.75rem;
  padding: 0 4.5rem;
  z-index: 1;
  &-brand {
    img {
      height: auto;
      width: 10.4rem;
    }
  }

  .navbar-toggler {
    border: none;
    i {
      color: var(--bs-gray-1000);
    }
  }
  .nav-item {
    padding: 0 0.25rem;
  }
  .nav-link {
    color: var(--bs-secondary);
  }
  .divider {
    color: var(--bs-gray-100);
    padding: 0 1rem;
  }
  .navbar-collapse {
    justify-content: flex-end;
  }
  .dropdown-menu {
    padding: 2rem;
    li {
      padding-top: 0.5rem;
    }
    li:first-child {
      padding-top: 0rem;
    }
    .dropdown-item {
      display: flex;
      justify-content: space-between;
      border-radius: var(--bs-border-radius);
      padding: 1rem;
      .picture {
        min-height: 3rem;
        min-width: 3rem;
        max-height: 3rem;
        max-width: 3rem;
        width: 3rem;
        align-items: center;
        justify-content: center;
        background: var(--bs-gray-100);
        border: 1px solid var(--bs-gray-1000);
        border-radius: var(--bs-border-radius);
      }
      .content {
        padding-left: 1rem;
        width: 100%;
        p {
          color: var(--bs-gray-600);
        }
      }
    }

    .dropdown-item:hover,
    .dropdown-item:active {
      background-color: var(--bs-blue-100);
      .picture {
        background: var(--bs-blue-100);
        border: 1px solid var(--bs-primary);
      }
    }
  }

  .demo {
    background-color: var(--bs-secondary);
    color: var(--bs-white);
    &__arrow-icon {
      color: var(--bs-gray-200);
      font-size: 1rem;
    }
  }

  a[aria-expanded="true"] .bi-chevron-down,
  button[aria-expanded="true"] .bi-list {
    display: none;
  }
  a[aria-expanded="false"] .bi-chevron-up,
  button[aria-expanded="false"] .bi-x {
    display: none;
  }

  @media (max-width: 1199.98px) {
    padding: 0 1rem;

    .navbar-collapse {
      margin-top: 1rem;
      padding: 0.5rem 1rem 1rem 1rem;
      background-color: var(--bs-gray-1000);
      width: 100%;
    }
    .nav-link {
      color: var(--bs-white);
    }

    .dropdown-menu {
      padding: 0rem;
      background-color: var(--bs-gray-1000);
      border: none;
      li {
        padding-top: 0.5rem;
      }
      li:first-child {
        padding-top: 1rem;
      }
      .dropdown-item {
        padding: 1rem 0 0 0.75rem;
        color: var(--bs-white);
        .picture {
          background: var(--bs-gray-900);
          border: 1px solid var(--bs-white);
        }
        .content {
          padding-left: 1rem;
          p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 90%;
          }
        }
      }
    }
    .divider {
      background: linear-gradient(
        to right,
        var(--bs-secondary),
        var(--bs-gray-800),
        var(--bs-gray-800),
        var(--bs-secondary)
      );
      height: 0.1rem;
      margin: 1rem 0;
    }
    .btn {
      width: 100%;
    }
    .demo {
      background-color: var(--bs-white);
      color: var(--bs-secondary);
    }
  }
}
