.contact-container {
  background-image: url("../../../assets/images/bg/bg_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  &-figure {
    width: 100%;
    img {
      width: 100%;
      border: 2px solid var(--bs-primary);
    }
  }
  &__infos {
    padding-right: 4.5rem;
    flex-basis: 50%;
    &--buttons {
      margin: 2.5rem 0;
      display: flex;
      flex-wrap: wrap;
      a:first-child {
        margin: 0 1rem 0 0;
      }
      &--arrow-icon {
        color: var(--bs-gray-200);
      }
    }
  }
  &__form {
    flex-basis: 50%;
    width: 100%;
    background-color: var(--bs-light);
    border: 1px solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius-sm);
    padding: 2rem;
    &--single-row {
      padding-top: 2rem;
    }
    &--row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 2rem;
      &--input:first-child {
        padding: 0 1rem 0 0;
      }
      &--input {
        flex-basis: 50%;
      }
    }
  }
  @media (max-width: 1199.98px) {
    &__infos {
      &--buttons {
        a {
          flex-basis: 100%;
        }
        a:first-child {
          margin: 0 0 1rem 0;
        }
      }
    }
    &__form {
      &--single-row {
        padding-top: 1rem;
      }
      &--row {
        flex-direction: column;
        padding-top: 0rem;
        &--input:first-child,
        &--input {
          flex-basis: 100%;
          padding: 1rem 0 0;
        }
      }
      &--button,
      &--text {
        padding-top: 1rem;
      }
    }
  }
  @media (max-width: 991.98px) {
    &-column {
      flex-direction: column;
    }
    &__infos {
      padding-right: 0;
    }
  }
  @media (max-width: 767.98px) {
    padding: 6rem 0;
    flex-wrap: wrap;
    background-position: right;
    &__infos {
      flex-basis: 100%;
    }
    &__form {
      flex-basis: 100%;
      padding: 1rem;
      margin-top: 2rem;
    }
  }
}
.form-control,
.form-select {
  background-color: var(--bs-gray-005);
  border-radius: var(--bs-border-radius);
  border: none;
  height: 3.5rem;
}
.btn-download-outline:hover .bi::before {
  animation: slide-right 0.8s ease-in-out infinite;
}