<div class="contact-container">
  <div class="container d-flex contact-container-column">
    <section class="contact-container__infos">
      <h1
        class="impactiv-display-small"
        i18n="Text|contact title@@CONTACT-TITLE"
      >
        CONTACT-TITLE
      </h1>
      <p
        class="impactiv-body-regular"
        i18n="Text|contact description@@CONTACT-DESCRIPTION"
      >
        CONTACT-DESCRIPTION
      </p>
      <div class="contact-container__infos--buttons">
        <a
          type="button"
          class="btn btn btn-secondary btn-contact-us-fill"
          [href]="phone"
          (click)="phone = 'tel:' + phoneAreaCode + phoneStart + phoneEnd"
        >
          <span
            class="align-middle impactiv-button-regular"
            i18n="Text|contact call us@@CONTACT-CALL-US"
            >CONTACT-CALL-US</span
          ><i
            class="bi bi-arrow-right-short ms-2 fs-5 align-middle contact-container__infos--buttons--arrow-icon"
            aria-hidden="true"
          ></i>
        </a>
        <a
          type="button"
          class="btn btn-gray-outline btn-download-outline"
          href="https://linkedin.com/company/impactiv'/"
          target="_blank"
        >
          <span
            class="align-middle impactiv-button-regular text-secondary"
            i18n="Text|contact redirect lk@@CONTACT-GO-LK"
            >CONTACT-GO-LK</span
          >
          <i
            class="bi bi-arrow-right-short fs-5 align-middle contact-container__infos--buttons--arrow-icon"
            aria-hidden="true"
          ></i>
        </a>
      </div>

      <div>
        <figure class="figure contact-container-figure">
          <img
            src="assets/images/bg/maps.png"
            class="figure-img img-fluid rounded"
            alt="maps"
          />
          <figcaption class="text-start impactiv-body-small">
            4 Av. de l'Obiou, 38700 La Tronche
          </figcaption>
        </figure>
      </div>
    </section>
    <section class="contact-container__form impactiv-button-regular">
      <form [formGroup]="form" novalidate (submit)="submit()">
        <div>
          <label
            for="subjectInput"
            class="mb-1"
            i18n="Text|contact subject title@@CONTACT-SUBJECT"
            >CONTACT-SUBJECT</label
          >
          <select
            class="form-select"
            aria-label="Default select example"
            formControlName="subject"
            required
            [class.is-invalid]="
              f['subject'].errors &&
              (f['subject'].dirty || f['subject'].touched)
            "
            [class.is-valid]="
              !f['subject'].errors &&
              (f['subject'].dirty || f['subject'].touched)
            "
          >
            <option *ngFor="let subject of subjects" [value]="subject">
              {{ subject }}
            </option>
          </select>
          <label
            class="text-danger"
            for="subject"
            *ngIf="submitted && f['subject'].errors"
            i18n="Text|contact subject error@@CONTACT-SUBJECT-ERROR"
            >CONTACT-SUBJECT-ERROR
          </label>
        </div>
        <div class="contact-container__form--row">
          <div
            class="contact-container__form--row--input impactiv-button-regular"
          >
            <label
              for="nameInput"
              class="mb-1"
              i18n="Text|contact name label@@CONTACT-NAME"
              >CONTACT-NAME</label
            >
            <input
              type="text"
              name="name"
              class="form-control"
              [placeholder]="placeholderName"
              aria-label="nom"
              formControlName="name"
              minlength="2"
              required
              [class.is-invalid]="
                f['name'].errors && (f['name'].dirty || f['name'].touched)
              "
              [class.is-valid]="
                !f['name'].errors && (f['name'].dirty || f['name'].touched)
              "
            />

            <label
              class="text-danger"
              for="nameInput"
              *ngIf="submitted && f['name'].errors"
              i18n="Text|contact name error@@CONTACT-NAME-ERROR"
              >CONTACT-NAME-ERROR</label
            >
          </div>
          <div
            class="contact-container__form--row--input impactiv-button-regular"
          >
            <label
              for="companyInput"
              class="mb-1"
              i18n="Text|contact company label@@CONTACT-COMPANY"
              >CONTACT-COMPANY</label
            >
            <input
              type="text"
              name="company"
              class="form-control"
              [placeholder]="placeholderCompany"
              aria-label="société"
              formControlName="company"
              minlength="2"
            />
          </div>
        </div>
        <div class="contact-container__form--row">
          <div
            class="contact-container__form--row--input impactiv-button-regular"
          >
            <label
              for="phoneInput"
              class="mb-1"
              i18n="Text|contact phone label@@CONTACT-PHONE"
              >CONTACT-PHONE</label
            >
            <input
              type="text"
              name="phone"
              class="form-control"
              placeholder="00 00 00 00 00"
              aria-label="phone"
              formControlName="phone"
              minlength="2"
              required
              [class.is-invalid]="
                f['phone'].errors && f['phone'].dirty && f['phone'].value
              "
              [class.is-valid]="
                !f['phone'].errors && f['phone'].dirty && f['phone'].value
              "
            />
            <label
              class="text-danger"
              for="phoneInput"
              *ngIf="submitted && f['phone'].errors && f['phone'].value"
              i18n="Text|contact phone error@@CONTACT-PHONE-ERROR"
              >CONTACT-PHONE-ERROR</label
            >
          </div>
          <div
            class="contact-container__form--row--input impactiv-button-regular"
          >
            <label
              for="emailInput"
              class="mb-1"
              i18n="Text|contact email label@@CONTACT-EMAIL"
              >CONTACT-EMAIL</label
            >
            <input
              type="text"
              name="email"
              class="form-control"
              [placeholder]="placeholderEmail"
              aria-label="email"
              formControlName="email"
              minlength="2"
              required
              [class.is-invalid]="
                f['email'].errors && (f['email'].dirty || f['email'].touched)
              "
              [class.is-valid]="
                !f['email'].errors && (f['email'].dirty || f['email'].touched)
              "
            />

            <label
              class="text-danger"
              for="emailInput"
              *ngIf="submitted && f['email'].errors"
              i18n="Text|contact email error@@CONTACT-EMAIL-ERROR"
              >CONTACT-EMAIL-ERROR</label
            >
          </div>
        </div>
        <div class="contact-container__form--single-row">
          <label
            for="textarea1"
            class="form-label impactiv-button-regular"
            i18n="Text|contact message label@@CONTACT-MESSAGE"
            >CONTACT-MESSAGE</label
          >
          <textarea
            class="form-control"
            aria-label="message"
            id="exampleFormControlTextarea1"
            formControlName="message"
            [placeholder]="placeholderMessage"
            rows="3"
          ></textarea>
        </div>

        <div
          class="d-grid gap-2 contact-container__form--single-row contact-container__form--button"
        >
          <button
            type="submit"
            class="btn btn-secondary"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            <span
              class="align-middle impactiv-button-regular"
              i18n="Text|contact send form@@CONTACT-SEND-FORM"
              >CONTACT-SEND-FORM</span
            ><i
              class="bi bi-arrow-right-short ms-2 fs-5 align-middle contact-container__infos--buttons--arrow-icon"
              aria-hidden="true"
            ></i>
          </button>
        </div>
        <p
          class="impactiv-body-sub-regular contact-container__form--single-row contact-container__form--text mb-0"
        >
          <small>
            <span i18n="Text|contact recaptcha@@CONTACT-RECAPTCHA-ONE"
              >CONTACT-RECAPTCHA-ONE</span
            >&nbsp;<a
              href="https://www.google.com/intl/fr/policies/privacy/"
              class="text-reset"
              i18n="Text|contact recaptcha@@CONTACT-RECAPTCHA-TWO"
              >CONTACT-RECAPTCHA-TWO</a
            >.&nbsp;<a
              href="https://www.google.com/intl/fr/policies/terms/"
              class="text-reset"
              i18n="Text|contact recaptcha@@CONTACT-RECAPTCHA-THREE"
              >CONTACT-RECAPTCHA-THREE</a
            >&nbsp;<span i18n="Text|contact recaptcha@@CONTACT-RECAPTCHA-FOUR"
              >CONTACT-RECAPTCHA-FOUR</span
            >
          </small>
        </p>
      </form>
    </section>
  </div>
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3 rounded-2 border-0">
      <div class="modal-body" *ngIf="!isLoading; else loading">
        <div class="d-flex flex-column">
          <img
            [src]="success ? successGif : errorGif"
            [alt]="success ? 'Succès' : 'Erreur'"
          />
          <span class="py-4 text-center">
            {{ success ? successMessage : errorMsg }}</span
          >
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="onCloseModal(success)"
          >
            {{ success ? continueMessage : tryAgainMessage }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex flex-column">
    <img src="assets/images/forms/loading.gif" alt="Chargement" />
  </div>
</ng-template>
