.contact-container {
  background-image: url("../../../assets/images/bg/bg_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  overflow: hidden;
  padding-top: 10rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  &-column {
    @media (max-width: 991.98px) {
      flex-direction: column;
    }
  }
  &-figure {
    width: 100%;
    img {
      width: 100%;
    }
  }
  @media (max-width: 767.98px) {
    padding: 6rem 1rem 0 1rem;
    flex-wrap: wrap;
    background-position: right;
  }
  &__infos {
    padding-right: 4.5rem;
    flex-basis: 50%;
    @media (max-width: 767.98px) {
      flex-basis: 100%;
    }
    @media (max-width: 991.98px) {
      padding-right: 0;
    }
    &--buttons {
      margin: 2.5rem 0;
      display: flex;
      flex-wrap: wrap;
      button:first-child {
        margin: 0 1rem 0 0;
      }
      @media (max-width: 1199.98px) {
        button {
          flex-basis: 100%;
        }
        button:first-child {
          margin: 0 0 1rem 0;
        }
      }

      &--arrow-icon {
        color: var(--bs-gray-200);
      }
    }
  }
  &__form {
    flex-basis: 50%;
    width: 100%;
    background-color: var(--bs-light);
    border: 1px solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius-sm);
    padding: 2rem;
    @media (max-width: 767.98px) {
      flex-basis: 100%;
      padding: 1rem;
      margin-top: 2rem;
    }
    &--single-row {
      padding-top: 2rem;
      @media (max-width: 1199.98px) {
        padding-top: 1rem;
      }
    }
    &--row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding-top: 2rem;
      @media (max-width: 1199.98px) {
        flex-direction: column;
        padding-top: 0rem;
      }
      &--input:first-child {
        padding: 0 1rem 0 0;
        @media (max-width: 1199.98px) {
          padding: 1rem 0 0 0;
        }
      }
      &--input {
        flex-basis: 50%;
        @media (max-width: 1199.98px) {
          flex-basis: 100%;
          padding: 1rem 0 0 0;
        }
      }
    }
    &--button,
    &--text {
      @media (max-width: 1199.98px) {
        padding-top: 1rem;
      }
    }
  }
}

.form-control, .form-select {
  background-color: var(--bs-gray-005);
  border-radius: var(--bs-border-radius);
  border: none;
  height: 3.5rem;
}