<div class="container quote">
  <p [innerHTML]="quote.text" class="m-0 quote-texte"></p>
  <div class="quote-people">
    <picture class="quote-picture">
      <img [src]="quote.logo" class="quote-logo" />
    </picture>
    <div class="quote-company">
      <div
        *ngFor="let people of quote.people"
        class="d-flex quote-company-mobile"
      >
        <p [innerHTML]="people.name" class="m-0 quote-name"></p>
        <p [innerHTML]="people.job" class="m-0 quote-job"></p>
      </div>
    </div>
  </div>
</div>
