<div class="hero container-fluid">
  <div class="hero__container container">
    <div class="hero__content">
      <h1
        class="impactiv-display-large mb-3 hero__title"
        i18n="Text|webapp hero@@WEBAPP-HERO-TITLE"
      >
        <span>WEBAPP-HERO-TITLE</span>
        <span class="text-primary">.</span>
      </h1>
      <p
        class="hero__subtitle impactiv-body-sub-regular mb-4"
        i18n="Text|webapp hero@@WEBAPP-HERO-DESCRIPTION"
      >
        WEBAPP-HERO-DESCRIPTION
      </p>
      <div>
        <a
          class="btn btn-secondary hero__button hero__button-dark"
          (click)="scrollTo('ourSolutions')"
        >
          <span
            class="align-middle impactiv-button-regular"
            i18n="Button|discover solution@@DISCOVER-SOLUTION"
            >DISCOVER-SOLUTION</span
          ><i
            class="hero__arrow bi bi-arrow-down-circle ms-2 fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </a>
        <a
          type="button"
          class="ms-0 ms-lg-2 mt-3 mt-lg-0 btn btn-download-outline hero__button hero__button-light"
          href="assets/pdfs/web-app.pdf"
          download="Impactiv - Web App.pdf"
        >
          <span
            class="align-middle impactiv-button-regular text-secondary"
            i18n="hero|download pdf@@DOWNLOAD-PDF"
            >DOWNLOAD-PDF</span
          >
          <i
            class="hero__arrow bi bi-download ms-2 fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
    <div class="hero__container--image d-none d-lg-block">
      <img class="hero__image" src="assets/images/bg/hero_solutions.png" />
    </div>

    <div class="hero__container--image-mobile d-lg-none">
      <img
        class="hero__image-mobile"
        src="assets/images/bg/hero_solutions.png"
      />
    </div>
  </div>
</div>
