<div class="container skills-container container-impactiv">
  <div
    class="d-flex justify-content-between skills-container__title align-items-center"
  >
    <h1 class="impactiv-display-small">
      Une équipe dédiée à chacun de vos besoins.
    </h1>
    <div class="d-none d-lg-flex justify-content-around">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="selectPage(false)"
      >
        <i class="bi bi-arrow-left-short fs-2"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary ms-4"
        (click)="selectPage(true)"
      >
        <i class="bi bi-arrow-right-short fs-2"></i>
      </button>
    </div>
  </div>

  <div class="skills-container__carousel">
    <ng-container *ngIf="skills && skills.length > 0">
      <ngx-glide
        #ngxGlide
        [showArrows]="false"
        [showBullets]="false"
        [perView]="2"
        [breakpoints]="{ '768': { perView: 1 }, '1200': { perView: 2 } }"
        [gap]="20"
        [type]="'carousel'"
        [listenToEvents]="true"
        (ranAfter)="onRanAfter()"
      >
        <ng-container *ngFor="let skill of skills">
          <div class="skill">
            <div class="skill__content">
              <div class="d-flex d-xl-none">
                <img
                  [src]="'assets/images/contents/skills/' + skill.image"
                  [alt]="skill.alt"
                />
              </div>
              <h1 class="impactiv-headline-regular">{{ skill.title }}</h1>
              <div class="impactiv-body-regular">
                {{ skill.description }}
              </div>
            </div>
            <div
              class="d-none d-xl-flex justify-content-center align-items-center skill__picture"
            >
              <!-- <img
                [src]="'assets/images/contents/skills/' + skill.image"
                [alt]="skill.alt"
                class="img-fluid"
              /> -->
              <img
                [src]="'assets/images/bg/no_image.svg'"
                [alt]="skill.alt"
                class="img-fluid"
              />
            </div>
          </div>
        </ng-container>
      </ngx-glide>
    </ng-container>
  </div>

  <div class="progress">
    <div
      *ngFor="let skill of skills; let i = index"
      class="progress-bar"
      [ngClass]="i === currentStep ? '' : 'bg-transparent'"
      role="progressbar"
      [attr.aria-label]="'Segment ' + i"
      [style]="'width:' + 100 / skills.length + '%'"
      [attr.aria-valuenow]="(100 / skills.length) * (i + 1)"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>
