.mentions-container {
  background-image: url("../../../assets/images/bg/bg_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  ;
  p,
  h1 {
    padding-bottom: 3rem;
  }
  @media (max-width: 767.98px) {
    padding: 6rem 0;
    p,
    h1 {
      padding-bottom: 1rem;
    }
  }
}
