<div class="mentions-container">
  <div class="container">
    <h1
      class="impactiv-display-small"
      i18n="Text|legal notices title@@LEGALNOTICES-TITLE"
    >
      LEGALNOTICES-TITLE
    </h1>
    <span
      class="impactiv-headline-small"
      i18n="Text|company subtitle@@CONTACT-COMPANY"
      >CONTACT-COMPANY</span
    ><br />
    <p class="impactiv-body-regular">
      <span i18n="Text|company item@@LEGALNOTICES-COMPANY-NAME"
        >LEGALNOTICES-COMPANY-NAME</span
      >&nbsp;: IMPACTIV' <br />
      <span i18n="Text|company item@@LEGALNOTICES-LEGAL-FORM"
        >LEGALNOTICES-LEGAL-FORM</span
      >&nbsp;: SAS<br />
      <span i18n="Text|company item@@LEGALNOTICES-CAPITAL"
        >LEGALNOTICES-CAPITAL</span
      >&nbsp;: 20 000 €<br />
      <span i18n="Text|company item@@LEGALNOTICES-HEAD-OFFICE"
        >LEGALNOTICES-HEAD-OFFICE</span
      >&nbsp;: 4 avenue de l'Obiou, 38700 La Tronche<br />
      <span i18n="Text|company item@@LEGALNOTICES-EMAIL"
        >LEGALNOTICES-EMAIL</span
      >&nbsp;: bonjour@impactiv.fr <br />
      <span i18n="Text|company item@@CONTACT-PHONE">CONTACT-PHONE</span>&nbsp;:
      09.53.33.03.60<br />
      <span i18n="Text|company item@@LEGALNOTICES-RCS">LEGALNOTICES-RCS</span
      >&nbsp;: 790 179 998 GRENOBLE B<br />
      <span i18n="Text|company item@@LEGALNOTICES-SIRET"
        >LEGALNOTICES-SIRET</span
      >&nbsp;: 790 179 998 00048<br />
      <span i18n="Text|company item@@LEGALNOTICES-TVA">LEGALNOTICES-TVA</span
      >&nbsp;: FR74 790 179 998<br />
      <span i18n="Text|company item@@LEGALNOTICES-PUBLICATION"
        >LEGALNOTICES-PUBLICATION</span
      >&nbsp;: Pierre-Olivier ALLEGRET<br />
    </p>
    <span
      class="impactiv-headline-small"
      i18n="Text|company item@@LEGALNOTICES-HOSTING"
      >LEGALNOTICES-HOSTING</span
    >
    <p class="impactiv-body-regular">
      SCALEWAY SAS, 8 rue de la Ville l'Evêque, BP 438, 75366 PARIS CEDEX 08,
      FRANCE<br />
      <span i18n="Text|company item@@CONTACT-PHONE">CONTACT-PHONE</span>&nbsp;:
      01 84 13 00 00<br />
      https://www.scaleway.com/fr/
    </p>
    <span
      class="impactiv-headline-small"
      i18n="Text|company item@@LEGALNOTICES-PHOTOS"
      >LEGALNOTICES-PHOTOS</span
    >
    <p
      class="impactiv-body-regular"
      i18n="Text|company item@@LEGALNOTICES-PHOTOS-DESCRIPTION"
    >
      LEGALNOTICES-PHOTOS-DESCRIPTION
    </p>
  </div>
</div>
