<div class="mentions-container">
  <div class="container">
    <h1 class="impactiv-display-small">Mentions légales</h1>
    <span class="impactiv-headline-small">Société</span>
    <p class="impactiv-body-regular">
      Raison sociale : IMPACTIV’ <br />
      Forme juridique : SAS<br />
      Capital social : 20 000 €<br />
      Siège social : 4 avenue de l’Obiou, 38700 La Tronche<br />
      Email : bonjour@impactiv.fr <br />
      Tel. : 09.53.33.03.60<br />
      RCS : 790 179 998 GRENOBLE B<br />
      N° de SIRET : 790 179 998 00048<br />
      TVA intracommunautaire : FR74 790 179 998<br />
      Directeur de la publication : Pierre-Olivier ALLEGRET<br />
    </p>
    <span class="impactiv-headline-small">Hébergement</span>
    <p class="impactiv-body-regular">
      SCALEWAY SAS, 8 rue de la Ville l’Evêque, BP 438, 75366 PARIS CEDEX 08,
      FRANCE<br />
      Téléphone : 01 84 13 00 00<br />
      https://www.scaleway.com/fr/
    </p>
    <span class="impactiv-headline-small">Crédits photos</span>
    <p class="impactiv-body-regular">
      Toutes les photos et illustrations sont la propriété d’IMPACTIV’ et/ou
      Getty Images.
    </p>
  </div>
</div>
