.customer-need {
  padding-top: 5rem;
  &-content {
    background-color: var(--bs-gray-005);
    border: 1px solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius-sm);
    padding: 2rem;
    font-size: 1.125rem;
    line-height: 1.9rem;
  }
}
