.solution-container {
  &-subtitle {
    width: 55%;
  }
}
.solutions.sticky {
  display: block;
  margin-top: 0rem;
}
.solutions {
  position: relative;
  z-index: 3;
  margin-top: 7.5rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
}
.accordion-wrapper {
  position: relative;
  display: block;
  width: 100%;
  padding-top: 12rem;
}
.solution-slide {
  position: sticky;
  display: flex;
  overflow: hidden;
  height: 35rem;
  border-radius: var(--bs-border-radius-sm);
  background-image: url("../../../../assets/images/bg/card_solution_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--bs-gray-100);
  box-shadow: 0.25rem 1.25rem 1.5rem rgba(17, 17, 17, 0.1);
}
.solution-slide.slide-1 {
  bottom: 17rem;
  z-index: 4;
  margin-top: -15rem;
  margin-bottom: 12rem;
}
.solution-slide.slide-2 {
  bottom: 12rem;
  z-index: 3;
  margin-top: -10rem;
  margin-bottom: 7rem;
}
.solution-slide.slide-3 {
  bottom: 7rem;
  z-index: 2;
  margin-top: -5rem;
  margin-bottom: 2rem;
}
.solution-slide.slide-4 {
  bottom: 2rem;
  z-index: 1;
  margin-top: 0;
  box-shadow: none;
}

@media screen and (max-width: 991.98px) {
  .solution-container {
    &-subtitle {
      width: 100%;
    }
  }
  .solutions {
    padding: 0;
  }
  .accordion-wrapper {
    padding-top: 1rem;
  }
  .solution-slide.slide-1,
  .solution-slide.slide-2,
  .solution-slide.slide-3,
  .solution-slide.slide-4 {
    position: relative;
    bottom: auto;
    margin-top: 0;
    margin-bottom: 1rem;
    box-shadow: none;
    height: 100%;
    border: 0.0625rem solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius);
  }
}
