<div class="container solution-container container-impactiv" id="ourSolutions">
  <h1 class="impactiv-display-small">
    <span i18n="Title|our solutions title part 1@@OUR-SOLUTIONS-TITLE-PART-ONE"
      >OUR-SOLUTIONS-TITLE-PART-ONE</span
    >&nbsp;<span
      class="with-underline"
      i18n="Title|our solutions title part 2@@OUR-SOLUTIONS-TITLE-PART-TWO"
      >OUR-SOLUTIONS-TITLE-PART-TWO</span
    >&nbsp;<span
      i18n="Title|our solutions title part 3@@OUR-SOLUTIONS-TITLE-PART-THREE"
      >OUR-SOLUTIONS-TITLE-PART-THREE</span
    ><span class="text-primary">.</span>
  </h1>
  <p
    class="impactiv-body-regular solution-container-subtitle"
    i18n="Text|our solutions description@@OUR-SOLUTIONS-DESCRIPTION"
  >
    OUR-SOLUTIONS-DESCRIPTION
  </p>

  <div class="solutions sticky">
    <div class="accordion-wrapper">
      <div
        *ngFor="let solution of solutions; let i = index"
        class="solution-slide"
        [class]="'slide-' + (i + 1)"
      >
        <impactiv-solution-card
          [solution]="solution"
          [index]="i"
        ></impactiv-solution-card>
      </div>
    </div>
  </div>
</div>
