<div class="container solution-container container-impactiv" id="ourSolutions">
  <h1 class="impactiv-display-small">
    Plongez dans un écosystème <span class="with-underline">complet</span> et
    performant<span class="text-primary">.</span>
  </h1>
  <p class="impactiv-body-regular solution-container-subtitle">
    Nos solutions sont intuitives, complémentaires, évolutives et sont le gage
    d’une digitalisation réussie et ambitieuse.
  </p>

  <div class="solutions sticky">
    <div class="accordion-wrapper">
      <div
        *ngFor="let solution of solutions; let i = index"
        class="solution-slide"
        [class]="'slide-' + (i + 1)"
      >
        <impactiv-solution-card
          [solution]="solution"
          [index]="i"
        ></impactiv-solution-card>
      </div>
    </div>
  </div>
</div>
