<div class="container card-container container-impactiv">
  <div
    class="d-flex justify-content-between card-container__title align-items-center"
  >
    <h1 class="impactiv-display-small">{{ title }}</h1>
    <div class="d-none d-lg-flex justify-content-around">
      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="selectPage(false)"
      >
        <i class="bi bi-arrow-left-short fs-2"></i>
      </button>
      <button
        type="button"
        class="btn btn-outline-secondary right-button"
        (click)="selectPage(true)"
      >
        <i class="bi bi-arrow-right-short fs-2"></i>
      </button>
    </div>
  </div>

  <div class="card-container__carousel">
    <ng-container *ngIf="cards && cards.length > 0">
      <ngx-glide
        #ngxGlide
        [showArrows]="false"
        [showBullets]="false"
        [perView]="3"
        [breakpoints]="{
          '768': { perView: 1 },
          '998': { perView: 2 },
          '1200': { perView: 3 }
        }"
        [gap]="20"
        [type]="'carousel'"
        [listenToEvents]="true"
        (ranAfter)="onRanAfter()"
      >
        <ng-container *ngFor="let card of cards">
          <div class="card">
            <div class="card__picture">
              <img [src]="card.image" [alt]="card.alt" class="img-fluid" />
            </div>
            <div class="card__content">
              <h1 class="impactiv-headline-regular">{{ card.title }}</h1>
              <div class="impactiv-body-regular d-flex flex-column">
                <div
                  class="d-flex align-center card__content--item"
                  *ngFor="let item of card.items"
                >
                  <div
                    class="card__content--item--bullet d-flex align-center justify-content-center"
                  >
                    <i class="bi bi-check2"></i>
                  </div>
                  <span>{{ item }}</span>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ngx-glide>
    </ng-container>
  </div>
</div>
