<div class="masonry container-impactiv">
  <div class="container masonry__container">
    <h1
      class="impactiv-display-small"
      i18n="Text|title@@AFFLUENCE-MASONRY-TITLE"
    >
      AFFLUENCE-MASONRY-TITLE
    </h1>
    <p
      class="impactiv-body-regular masonry__description"
      i18n="Text|description@@AFFLUENCE-MASONRY-DESCRIPTION"
    >
      AFFLUENCE-MASONRY-DESCRIPTION
    </p>
    <a
      name=""
      id=""
      class="btn btn-contact-us"
      href="#"
      role="button"
      [routerLink]="['/', routes.contact]"
      ><span>
        <span i18n="Text|contact us two@@CONTACT-US-TWO">CONTACT-US-TWO</span>
        <i
          class="hero__arrow bi bi-arrow-right-short fs-5 align-middle"
          aria-hidden="true"
        ></i></span
    ></a>
    <div class="masonry__grid">
      <impactiv-masonry-card-image
        [card]="card1"
        class="masonry__item1"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-text [card]="card2" class="masonry__item2">
      </impactiv-masonry-card-text>

      <impactiv-masonry-card-image
        [card]="card3"
        class="masonry__item3"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-image
        [card]="card4"
        class="masonry__item4"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-image
        [card]="card5"
        class="masonry__item5"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-text [card]="card6" class="masonry__item6">
      </impactiv-masonry-card-text>

      <impactiv-masonry-card-image
        [card]="card7"
        class="masonry__item7"
      ></impactiv-masonry-card-image>
    </div>
  </div>
</div>
