// Animation arrow
@keyframes slide-right {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes animatedBackground {
  0% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 120% 120%;
  }
}
