.btn-contact-us {
  border: none;
  border-radius: 0;
  padding: 1rem 0;
  &:hover {
    .bi::before {
      animation: slide-right 0.8s ease-in-out infinite;
    }
  }
  span {
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--bs-gray-1000);
  }
}

.btn-contact-us-fill {
  position: relative;
  border-radius: var(--bs-border-radius-sm);
  .bi::before {
    margin-left: 0.2rem;
  }
  &:hover {
    background-color: var(--bs-gray-900);
    transition: background-color 0.2s ease;
    .bi::before {
      animation: slide-right 0.8s ease-in-out infinite;
    }
  }
}

.btn-gray-outline {
  position: relative;
  border: 1px solid var(--bs-gray-100);
  border-radius: var(--bs-border-radius-sm);
  .bi::before {
    margin-left: 0.2rem;
  }
  .bi-arrow-right-short {
    color: var(--bs-gray-200);
  }
  &:hover {
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-100);
    transition: background-color 0.2s ease;
    .bi-arrow-right-short {
      color: var(--bs-gray-1000);
      transition: color 0.2s ease;
    }
    .bi::before {
      animation: slide-right 0.8s ease-in-out infinite;
    }
  }
}

.btn-simple-text {
  border: 1px solid transparent;
  border-radius: var(--bs-border-radius-sm);
  &:hover {
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-100);
  }
}
