.with-underline {
  display: inline-block;
  padding: 0.25rem 0.125rem 0.5rem;
  background-image: url("../assets/images/effects/underline_effect.svg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.with-highlight {
  display: inline-block;
  padding: 0.25rem 0.125rem 0.5rem;
  background-image: url("../assets/images/effects/highlight_effect.svg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}
