$primary: #0575e6;
$secondary: #101B26;
$info: #DBE6F2;

$font-family-base: Poppins, system-ui, -apple-system, Roboto, Arial, sans-serif;
$font-family-sans-serif: Poppins, system-ui, -apple-system, Roboto, Arial, sans-serif;
$font-weight-normal: 500;
$headings-font-family: 'Poppins';