html {
    width:100%;
    height: 100%;
}

body {
    background-color: #111;
    color: white;
    font-family: "Poppins";
    width: 100%;
    height: 100%;
    background: url("../assets/images/bg/grid.png"), #111;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // Pour les besoins de la coming soon à enlever après !
    overflow: hidden;
}

// Titles
.impactiv-display-large {
    font-family: "Poppins";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.25rem;
}

.impactiv-body-large {
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.impactiv-body-regular {
    font-family: "Poppins";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.impactiv-body-small {
    font-family: "Poppins";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.impactiv-button-large {
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

// Titles mobiles
@media (max-width: 576px) {
    .impactiv-display-large {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .impactiv-body-large {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
  }
  