html {
    width:100%;
    height: 100%;
}

body {
    background-color: #101B26;
    color: white;
    font-family: "Poppins";
    width: 100%;
    height: 100%;
    background: url("../assets/images/bg/grid.png"), #101B26;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    // Pour les besoins de la coming soon à enlever après !
    overflow: hidden;
}

// Titles
.impactiv-display-large {
    font-family: "Poppins";
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.25rem;
}

.impactiv-body-large {
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.impactiv-body-regular {
    font-family: "Poppins";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.impactiv-body-small {
    font-family: "Poppins";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

.impactiv-button-large {
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0px;
}

// Titles mobiles
@media (max-width: 992px) {
    .impactiv-display-large {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    .impactiv-body-large {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }
    .impactiv-button-large {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
  }

@media (max-width: 768px) {
    .impactiv-display-large {
        font-size: 2rem;
        line-height: 2.5rem;
    }
    .impactiv-body-large {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    .impactiv-button-large {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }
  }
  
  @media (max-width: 400px) {
    .impactiv-display-large {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .impactiv-body-large {
        font-size: 0.8rem;
        line-height: 1.25rem;
    }
    .impactiv-button-large {
        font-size: 0.75rem;
        line-height: 1rem;
    }
  }

  