// Titles
.impactiv-display-large {
  font-family: "Inter";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.625rem;
}

.impactiv-display-regular {
  font-family: "Inter";
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.impactiv-display-small {
  font-family: "Inter";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.impactiv-display-xsmall {
  font-family: "Inter";
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.impactiv-headline-regular {
  font-family: "Inter";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.impactiv-headline-small {
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.impactiv-button-regular {
  font-family: "Inter";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1rem;
}

.impactiv-quote {
  font-family: "Inter";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
}

.impactiv-body-regular {
  font-family: "Inter";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.impactiv-body-sub-regular {
  font-family: "Inter";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.impactiv-body-small {
  font-family: "Inter";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.125rem;
}

.with-underline {
  display: inline-block;
  padding: 0.25rem 0.125rem 0.5rem;
  background-image: url("../assets/images/effects/underline_effect.svg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.with-highlight {
  display: inline-block;
  padding: 0.25rem 0.125rem 0.5rem;
  background-image: url("../assets/images/effects/highlight_effect.svg");
  background-position: 50% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.btn-contact-us {
  border: none;
  border-radius: 0;
  padding: 1rem 0;
  &:hover {
    .bi::before {
      animation: slide-right 0.8s ease-in-out infinite;
    }
  }
  span {
    padding: 0.5rem 0;
    border-bottom: 2px solid var(--bs-gray-1000);
  }
}

.btn-contact-us-fill {
  position: relative;
  border-radius: var(--bs-border-radius-sm);
  .bi::before {
    margin-left: 0.2rem;
  }
  &:hover {
    background-color: var(--bs-gray-900);
    transition: background-color 0.2s ease;
    .bi::before {
      animation: slide-right 0.8s ease-in-out infinite;
    }
  }
}

.btn-gray-outline {
  position: relative;
  border: 1px solid var(--bs-gray-100);
  border-radius: var(--bs-border-radius-sm);
  .bi::before {
    margin-left: 0.2rem;
  }
  .bi-arrow-right-short {
    color: var(--bs-gray-200);
  }
  &:hover {
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-100);
    transition: background-color 0.2s ease;
    .bi-arrow-right-short {
      color: var(--bs-gray-1000);
      transition: color 0.2s ease;
    }
    .bi::before {
      animation: slide-right 0.8s ease-in-out infinite;
    }
  }
}

.container-use-case {
  @media (min-width: 1200px) {
    max-width: 900px;
  }
}

// Animation arrow
@keyframes slide-right {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(5px, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.custom-bold {
  font-weight: 700;
}
