// Titles
.impactiv-display-large {
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.625rem;
}

.impactiv-display-regular {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
}

.impactiv-display-small {
  font-family: "Inter", sans-serif;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.impactiv-display-xsmall {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
}

.impactiv-headline-regular {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.impactiv-headline-small {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.impactiv-button-regular {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.impactiv-quote {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
}

.impactiv-body-regular {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.impactiv-body-sub-regular {
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.impactiv-body-small {
  font-family: "Inter", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1rem;
}

.with-underline {
  display: inline-block;
  padding: 0.25rem 0.125rem 0.5rem;
  background-image: url("../assets/images/effects/underline_effect.svg");
  background-position: 50% 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
