<div class="our-partners">
  <div class="container container-impactiv our-partners__content text-center">
    <h1
      class="impactiv-display-small"
      i18n="Text|partners title@@PARTNERS-TITLE"
    >
      PARTNERS-TITLE
    </h1>
    <p
      class="impactiv-body-regular our-partners__content--text"
      i18n="Text|partners description@@PARTNERS-DESCRIPTION"
    >
      PARTNERS-DESCRIPTION
    </p>
  </div>

  <div class="our-partners__marquee">
    <div class="our-partners__marquee--content">
      <div *ngFor="let partner of partners" class="our-partners__marquee--card">
        <img [src]="partner.url" class="img-fluid" [alt]="partner.alt" />
      </div>
    </div>
    <div class="our-partners__marquee--content" aria-hidden="true">
      <div *ngFor="let partner of partners" class="our-partners__marquee--card">
        <img [src]="partner.url" class="img-fluid" [alt]="partner.alt" />
      </div>
    </div>
  </div>
</div>
