.our-partners {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.5rem;
    &--text {
      max-width: 60%;
    }
  }

  &__marquee {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    &--content {
      animation: slide 40s linear infinite;
      display: flex;
    }
    &--card {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 13.75rem;
      height: 6.875rem;
      margin: 1rem;
      background-color: var(--bs-blue-003);
      border-radius: var(--bs-border-radius-sm);
    }
  }

  @media (max-width: 1199.98px) {
    &__content {
      &--text {
        max-width: 100%;
      }
    }

    &__marquee {
      &--content {
        animation: slide 50s linear infinite;
      }
    }
  }
}
