.resume {
  background-image: url("../../../../assets/images/bg/bg_contact.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-top: 1px solid var(--bs-gray-100);
  padding-top: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 8rem;
  &-card {
    background-color: var(--bs-gray-1000);
    border-radius: var(--bs-border-radius-lg);
    padding: 3rem 0 3rem 3rem;
    color: var(--bs-light);
    width: 100%;
    display: flex;
  }
  &-content {
    flex-basis: 60%;
    padding-right: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  &-picture {
    flex-basis: 41%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: var(--bs-border-radius-sm) 0 0 var(--bs-border-radius-sm);
  }
  &-nav,
  &-buttonGroup,
  &-button,
  &-tag,
  &-video,
  &-image {
    border-radius: var(--bs-border-radius-sm);
  }
  &-nav,
  &-buttonGroup {
    display: flex;
    justify-content: center;
  }
  &-buttonGroup {
    background-color: var(--bs-light);
    padding: 0.5rem;
  }
  &-button {
    margin: 0.25rem;
    &.active {
      color: var(--bs-light);
      background-color: var(--bs-gray-1000);
    }
  }
  &-tags {
    display: flex;
    flex-wrap: wrap;
  }
  &-tag {
    background-color: var(--bs-gray-900);
    color: var(--bs-light);
    padding: 0.5rem 1rem;
  }
  &-title {
    padding-top: 1.5rem;
  }
  &-image,
  &-video {
    min-width: 100%;
    max-width: none;
    transform: scale(1.7);
    &-container {
      position: relative;
    }
  }
  @media (max-width: 1399.98px) {
    &-image,
    &-video {
      transform: scale(2);
    }
  }
  @media (max-width: 1199.98px) {
    padding-top: 1rem;
    &-card {
      flex-direction: column;
      padding: 1rem;
    }
    &-content {
      flex-basis: 100%;
      padding-right: 0;
      padding-bottom: 1rem;
    }
    .btn-read {
      padding: 2.5rem 0 1rem;
    }
  }
  @media (max-width: 991.98px) {
    &-image,
    &-video {
      transform: scale(1);
    }
  }
}
