<p [innerHTML]="challenge.text"></p>
<ng-container
  *ngIf="
    challenge.images && challenge.images.length > 1;
    else singleImageTemplate
  "
>
  <ngx-glide
    #ngxGlide
    [showArrows]="false"
    [showBullets]="false"
    [perView]="1.75"
    [breakpoints]="{ '768': { perView: 1 }, '1200': { perView: 1.75 } }"
    [gap]="20"
    [type]="'carousel'"
    [listenToEvents]="false"
    [autoplay]="5000"
    [animationDuration]="700"
  >
    <ng-container *ngFor="let image of challenge?.images">
      <div class="d-flex align-center justify-content-center">
        <img class="img-fluid" [src]="image" />
      </div>
    </ng-container>
  </ngx-glide>
</ng-container>

<ng-template #singleImageTemplate>
  <img
    [src]="
      challenge.images && challenge.images[0]
        ? challenge.images[0]
        : 'assets/images/contents/customers/logoipsum.svg'
    "
    alt=""
/></ng-template>
