<div class="container challenge container-use-case">
  <h1 class="impactiv-display-small mb-3">
    Le <span class="with-highlight">challenge</span>.
  </h1>
  <p
    [innerHTML]="challenge.text"
    class="impactiv-body-regular challenge-text"
  ></p>
  <ng-container
    *ngIf="
      challenge.images && challenge.images.length > 1;
      else singleImageTemplate
    "
  >
    <ngx-glide
      #ngxGlide
      [showArrows]="false"
      [showBullets]="false"
      [perView]="1"
      [gap]="20"
      [type]="'carousel'"
      [listenToEvents]="false"
      [autoplay]="5000"
      [animationDuration]="500"
    >
      <ng-container *ngFor="let image of challenge.images">
        <div
          class="d-flex align-center justify-content-center challenge-image-container"
        >
          <img [src]="image" class="img-fluid challenge-image" />
        </div>
      </ng-container>
    </ngx-glide>
  </ng-container>

  <ng-template #singleImageTemplate>
    <img
      [src]="
        challenge.images && challenge.images[0]
          ? challenge.images[0]
          : 'assets/images/contents/customers/logoipsum.svg'
      "
      alt=""
      class="img-fluid challenge-image"
  /></ng-template>
</div>
