<div class="container team-quote-container">
  <div class="d-flex flex-column align-items-center align-center team-quote">
    <div class="team-quote-picture">
      <img src="assets/images/icons/short_logo.png" alt="" />
    </div>
    <p class="team-quote-text impactiv-quote">
      “Notre philosophie, inspirée de l’agilité, est de toujours intégrer à la
      réflexion et la conception l’ensemble des parties prenantes du projet. Le
      principe de cocréation entre nos clients décideurs, les utilisateurs
      opérationnels et nos équipes nous permet de confronter les idées, besoins
      et visions pour s’assurer de développer un outil efficace, pertinent et
      fonctionnel.”
    </p>
    <p class="team-quote-author impactiv-body-regular">Impactiv’ team</p>
  </div>
</div>
