<div
  class="container-fluid d-flex quote align-items-center"
  style="min-height: 550px"
>
  <div class="container quote__container d-flex justify-content-between">
    <div class="quote__logo">
      <img
        [src]="quote.logo"
        class="mb-4 d-none d-lg-block"
        [alt]="quote.alt"
      />
      <p class="impactiv-display-small pt-4 pt-lg-3 quote__description">
        {{ quote.number }}
        <br />
        <span class="impactiv-body-sub-regular">{{ quote.description }}</span>
      </p>
    </div>
    <div class="quote__text">
      <p class="impactiv-quote mb-3 mb-lg-5 quote__content">
        "{{ quote.content }}"
      </p>
      <div class="quote__person d-flex align-items-center">
        <img [src]="quote.avatar" />
        <div class="ms-3">
          <p class="text-primary impactiv-headline-small mb-0">
            {{ quote.name }}
          </p>
          <p class="impactiv-body-sub-regular mb-0">{{ quote.job }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
