.numbers {
  
  display: flex;
  justify-content: space-between;
  &__col {
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__picture {
    width: 48%;
  }
  &__title {
    background-color: var(--bs-gray-005);
    border-radius: var(--bs-border-radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48%;
    @media (max-width: 991.98px) {
      font-size: 1.8rem;
      line-height: initial;
    }
  }
  &__description {
    text-align: center;
    margin-bottom: 0;
    max-width: 75%;
  }
  @media (max-width: 991.98px) {
    display: flex;
    flex-direction: column;
    
    &__col {
      width: 100%;
      padding-bottom: 1rem;
    }
  }
  @media (max-width: 575.98px) {
    &__col {
      flex-direction: column;
      padding-bottom: 0;
    }
    &__title, &__picture {
      width: 100%;
      height: 16rem;
      margin-bottom: 1rem;
    }
    &__image {
      object-fit: cover;
      width: 100%;
      height: 16rem;
      border-radius: var(--bs-border-radius-sm);
    }
  }
}
