<div
  class="masonry__card masonry__card-withImage"
  [ngClass]="{
    'masonry__card-black': card.black,
    'masonry__card-withImage-right': card.imageright,
    'masonry__card-withImage-reverse': card.imagetop,
    'fill': card.imagefill
  }"
>
  <div class="masonry__content">
    <picture class="masonry__picture">
      <img [src]="card.icon" />
    </picture>
    <h1 class="impactiv-headline-small masonry__title">{{ card.title }}</h1>
    <p class="impactiv-body-regular m-0 masonry__body">
      {{ card.description }}
    </p>
  </div>
  <img [src]="card.image" class="masonry__image img-fluid" />
</div>
