<div
  class="container solution-block container-impactiv"
  [ngClass]="isReversed ? 'solution-block-reversed' : ''"
>
  <div
    class="solution-block__content"
    [ngClass]="isReversed ? 'solution-block-reversed__content' : ''"
  >
    <h1 class="impactiv-display-small">
      {{ data.title }}
    </h1>
    <p class="impactiv-body-regular">
      {{ data.description }}
    </p>
  </div>
  <div
    class="solution-block__picture"
    [ngClass]="isReversed ? 'solution-block-reversed__picture' : ''"
  >
    <img class="img-fluid" [src]="data.image.src" [alt]="data.image.alt" />
  </div>
</div>
