<div class="hero container-fluid">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="impactiv-display-large mb-3 hero__title">
        Un monde de solutions audiovisuelles et digitales !
      </h1>
      <p class="hero__subtitle impactiv-body-sub-regular mb-4">
        Expert, intégrateur de solutions d’affichage dynamique tous supports,
        nous vous accompagnons de A à Z ! Communiquez et informez efficacement
        en temps réel. De l’étiquette connectée aux murs LEDs XXL.
      </p>
      <div>
        <a
          class="btn btn-secondary hero__button hero__button-dark btn-discover-fill"
          (click)="scrollTo('MasonryScreen')"
        >
          <span class="align-middle impactiv-button-regular"
            >Découvrir la solution</span
          ><i
            class="hero__arrow bi bi-arrow-down-circle ms-2 fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </a>
        <a
          type="button"
          class="ms-0 ms-lg-2 mt-3 mt-lg-0 btn btn-download-outline hero__button hero__button-light"
          href="assets/pdfs/screen.pdf"
          download="Impactiv - Screen.pdf"
        >
          <span class="align-middle impactiv-button-regular text-secondary"
            >Télécharger la fiche produit</span
          >
          <i
            class="hero__arrow bi bi-download ms-2 fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
    <div class="hero__container--image">
      <video loop autoplay class="img-fluid hero__video">
        <source src="assets/images/contents/solutions/screen/hero.mp4" />
      </video>
    </div>
    <div class="hero__icons"></div>
  </div>
</div>
