<div class="hero container-fluid">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="impactiv-display-large mb-3 hero__title">
        Un monde de solutions audiovisuelles et digitales !
      </h1>
      <p class="hero__subtitle impactiv-body-sub-regular mb-4">
        Expert, intégrateur de solutions d’affichage dynamique tous supports,
        nous vous accompagnons de A à Z ! Communiquez et informez efficacement
        en temps réel. De l’étiquette connectée aux murs LEDs XXL.
      </p>
      <div>
        <a
          type="button"
          class="btn btn-secondary btn-discover-fill"
          (click)="scrollTo('')"
        >
          <span class="impactiv-button-regular"
            >Découvrir la solution</span
          >
          <i
            class="bi bi-arrow-down-circle fa-xs"
            aria-hidden="true"
          ></i>
        </a>
        <a
          type="button"
          class="ms-0 ms-lg-2 mt-3 mt-lg-0 btn btn-download-outline"
        >
          <span class="impactiv-button-regular text-secondary"
            >Télécharger la fiche produit</span
          >
          <i
            class="bi bi-download fa-xs"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
    <div class="hero__container--image">
      <img class="hero__image" src="assets/images/bg/no_image.svg" />
    </div>
  </div>
</div>
