<div class="hero container-fluid">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="impactiv-display-large mb-3 hero__title">
        Adaptez vos projets aux process et non l'inverse !
      </h1>
      <p class="hero__subtitle impactiv-body-sub-regular mb-4">
        Développement sur-mesure ou intégration ambitieuse, nous créons pour
        vous des outils métier à forte valeur ajoutée.
      </p>
      <div>
        <a
          type="button"
          class="btn btn-secondary hero__button hero__button-dark btn-discover-fill"
          (click)="scrollTo('SolutionExpertiseBlock')"
        >
          <span class="align-middle impactiv-button-regular"
            >Découvrir la solution</span
          >
          <i
            class="hero__arrow bi bi-arrow-down-circle ms-2 fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
    <div class="hero__container--image">
      <img class="hero__image" src="../../../assets/images/bg/dsm_hero.png" />
    </div>
  </div>
</div>
