<div class="hero container-fluid">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="impactiv-display-large mb-3 hero__title">
        <span i18n="Title|Home title@@HOME-HERO-TITLE">HOME-HERO-TITLE</span
        >&nbsp;
        <span class="circle">360°</span>
      </h1>
      <p
        class="hero__subtitle impactiv-body-sub-regular mb-4"
        i18n="Text|Home description@@HOME-HERO-DESCRIPTION"
      >
        HOME-HERO-DESCRIPTION
      </p>
      <div>
        <button
          type="button"
          class="btn btn-secondary hero__button hero__button-dark"
          [routerLink]="contactRoute"
        >
          <span
            class="align-middle impactiv-button-regular"
            i18n="Button|contact us@@CONTACT-US"
            >CONTACT-US</span
          ><i
            class="hero__arrow bi bi-arrow-right-short fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </button>
        <button
          type="button"
          class="ms-0 ms-lg-2 mt-3 mt-lg-0 btn btn-download-outline"
          (click)="scrollTo('ourSolutions')"
        >
          <span
            class="align-middle impactiv-button-regular text-secondary"
            i18n="Button|discover our solutions@@DISCOVER-SOLUTIONS"
            >DISCOVER-SOLUTIONS</span
          >
          <i
            class="hero__arrow bi bi-arrow-down-circle ms-2 fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </button>
      </div>
    </div>
    <div class="hero__parallax">
      <img
        class="hero__image hero__image-item--1"
        id="parallax-item--1"
        src="assets/images/bg/hero1.png"
      />
      <img
        class="hero__image hero__image-item--2"
        id="parallax-item--2"
        src="assets/images/bg/hero2.png"
      />
      <img
        class="hero__image hero__image-item--3"
        id="parallax-item--3"
        src="assets/images/bg/hero3.png"
      />
    </div>
    <div class="hero__gradient"></div>
  </div>
</div>
