.banner {
  background-color: #0f172a;
  color: white;
  border-radius: 8px;
  margin-top: 8rem;
  padding: 0 0 0 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  &__btn {
    border: solid 1px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(90deg, #ee5959 0%, #512888 49.31%, #0575e6 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0f172a inset;
    &:hover {
      box-shadow: none;
    }
  }
  @media (max-width: 1199.98px) {
    padding: 0;
    &__text {
      padding: 1rem;
    }
  }
  @media (max-width: 991.98px) {
    margin-top: 1rem;
    padding: 0;
    height: 548px;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(
        180deg,
        #0f172a 34.9%,
        rgba(15, 23, 42, 0.7) 71.35%,
        rgba(15, 23, 42, 0) 100%
      ),
      #0f172a;
    &__text {
      padding: 3rem 1rem 0rem 1rem;
    }
    &__image {
      width: 100%;
      height: 100%;
      background-image: url(../../../assets/images/bg/banner_experience_mb.png);
      background-size: cover;
      background-repeat: no-repeat;
      &-container {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 575.98px) {
    margin-left: 1rem;
    margin-right: 1rem;
    width: auto;
  }
}
