<div class="hero container-fluid">
  <div class="hero__container container">
    <div class="hero__marquee">
      <div class="hero__marquee--content">
        <div *ngFor="let people of company" class="hero__marquee--card">
          <img [src]="people.url" class="img-fluid" [alt]="people.alt" />
        </div>
      </div>
      <div class="hero__marquee--content" aria-hidden="true">
        <div *ngFor="let people of company" class="hero__marquee--card">
          <img [src]="people.url" class="img-fluid" [alt]="people.alt" />
        </div>
      </div>
    </div>
    <div class="hero__content">
      <h1
        class="impactiv-display-large mb-3 hero__title"
        i18n="Text|company hero title@@COMPANY-HERO-TITLE"
      >
        COMPANY-HERO-TITLE
      </h1>
      <p
        class="hero__subtitle impactiv-body-sub-regular mb-4"
        i18n="Text|company hero description@@COMPANY-HERO-DESCRIPTION"
      >
        COMPANY-HERO-DESCRIPTION
      </p>
      <div>
        <a
          class="btn btn-secondary btn-contact-us-fill"
          [routerLink]="['/', routes.contact]"
        >
          <span
            class="align-middle impactiv-button-regular"
            i18n="Button|contact us@@CONTACT-US"
            >CONTACT-US</span
          ><i
            class="hero__arrow bi bi-arrow-right-short fs-5 align-middle"
            aria-hidden="true"
          ></i>
        </a>
      </div>
    </div>
  </div>
</div>
