<div class="container masonry container-impactiv">
  <div class="masonry__container">
    <h1 class="impactiv-display-small">
      <span i18n="Text|screen masonry title@@SCREEN-MASONRY-TITLE">
        SCREEN-MASONRY-TITLE
      </span>
      <span class="text-primary">.</span>
    </h1>
    <p
      class="impactiv-body-regular masonry__description"
      i18n="Text|screen masonry title@@SCREEN-MASONRY-DESCRIPTION"
    >
      SCREEN-MASONRY-DESCRIPTION
    </p>
    <a
      name=""
      id=""
      class="btn btn-contact-us"
      href="#"
      role="button"
      [routerLink]="['/', routes.contact]"
      ><span>
        <span i18n="Text|contact us two@@CONTACT-US-TWO">CONTACT-US-TWO</span>
        <i
          class="hero__arrow bi bi-arrow-right-short fs-5 align-middle"
          aria-hidden="true"
        ></i></span
    ></a>
    <div class="masonry__grid">
      <impactiv-masonry-card-text
        [card]="card1"
        class="masonry__item1"
      ></impactiv-masonry-card-text>

      <impactiv-masonry-card-image
        [card]="card2"
        class="masonry__item2"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-image
        [card]="card3"
        class="masonry__item3"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-image
        [card]="card4"
        class="masonry__item4"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-text [card]="card5" class="masonry__item5">
      </impactiv-masonry-card-text>

      <impactiv-masonry-card-image
        [card]="card6"
        class="masonry__item6"
      ></impactiv-masonry-card-image>
    </div>

    <div class="masonry__grid2" [ngClass]="isActive ? 'show' : 'hide'">
      <impactiv-masonry-card-image
        [card]="card7"
        class="masonry__item1"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-image
        [card]="card8"
        class="masonry__item2"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-text [card]="card9" class="masonry__item3">
      </impactiv-masonry-card-text>

      <impactiv-masonry-card-image
        [card]="card10"
        class="masonry__item4"
      ></impactiv-masonry-card-image>

      <impactiv-masonry-card-text [card]="card11" class="masonry__item5">
      </impactiv-masonry-card-text>

      <impactiv-masonry-card-image
        [card]="card12"
        class="masonry__item6"
      ></impactiv-masonry-card-image>
    </div>
    <button
      type="button"
      class="btn btn-secondary masonry__button mb-5 mt-3"
      (click)="isActive = !isActive"
      [ngClass]="isActive ? 'hide' : 'show'"
      i18n="Button|see more@@SEE-MORE"
    >
      SEE-MORE
    </button>
  </div>
</div>
