.solution-carousel {
  &__description {
    max-width: 60%;
    margin: 1rem 0;
  }
  button {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bs-gray-100);
  }

  &__container {
    margin-top: 1rem;
    background-color: var(--bs-blue-100);
    padding: 4.5rem 0;
    border: 1px solid var(--bs-gray-100);
    border-radius: var(--bs-border-radius-sm);
  }

  @media (max-width: 1199.98px) {
    padding: 1rem;
    &__description {
      max-width: 100%;
    }
    &__container {
      margin-top: 1rem;
      padding: 1rem 0;
    }
  }
}
