<div class="our-customers">
  <div class="container our-customers__content text-center">
    <h1
      class="impactiv-display-small"
      i18n="Title|our customers title@@OUR-CUSTOMERS-TITLE"
    >
      OUR-CUSTOMERS-TITLE
    </h1>
    <p class="impactiv-body-regular our-customers__content--text">
      <span
        i18n="
          Text|our customers description
          number@@OUR-CUSTOMERS-DESCRIPTION-NUMBER"
        >OUR-CUSTOMERS-DESCRIPTION-NUMBER</span
      ><br />
      <span
        i18n="
          Text|our customers description@@OUR-CUSTOMERS-DESCRIPTION-SOLUTIONS"
        >OUR-CUSTOMERS-DESCRIPTION-SOLUTIONS</span
      >
    </p>
  </div>

  <div class="our-customers__marquee">
    <div class="our-customers__marquee--content">
      <div
        *ngFor="let customer of customers"
        class="our-customers__marquee--card"
      >
        <img [src]="customer.url" class="img-fluid" [alt]="customer.alt" />
      </div>
      <div
        class="our-customers__marquee--card our-customers__marquee--card-last"
      >
        <span
          i18n="Text|our customers more customers@@OUR-CUSTOMERS-MORE-CUSTOMERS"
          >OUR-CUSTOMERS-MORE-CUSTOMERS</span
        >
      </div>
    </div>
    <div class="our-customers__marquee--content" aria-hidden="true">
      <div
        *ngFor="let customer of customers"
        class="our-customers__marquee--card"
      >
        <img [src]="customer.url" class="img-fluid" [alt]="customer.alt" />
      </div>
      <div
        class="our-customers__marquee--card our-customers__marquee--card-last"
      >
        <span
          i18n="Text|our customers more customers@@OUR-CUSTOMERS-MORE-CUSTOMERS"
          >OUR-CUSTOMERS-MORE-CUSTOMERS</span
        >
      </div>
    </div>
  </div>
</div>
