<div class="our-customers">
  <div class="container our-customers__content text-center">
    <h1 class="impactiv-display-small">
      Reconnus par des acteurs majeurs dans leur domaine.
    </h1>
    <p class="impactiv-body-regular our-customers__content--text">
      Plus d’un million de convives utilisent déjà nos solutions au quotidien.
      <br />
      Comme eux, accélérez votre développement en adoptant nos solutions.
    </p>
  </div>

  <div class="our-customers__marquee">
    <div class="our-customers__marquee--content">
      <div
        *ngFor="let customer of customers"
        class="our-customers__marquee--card"
      >
        <img [src]="customer.url" class="img-fluid" [alt]="customer.alt" />
      </div>
      <div
        class="our-customers__marquee--card our-customers__marquee--card-last"
      >
        <span>et bien d'autres...</span>
      </div>
    </div>
    <div class="our-customers__marquee--content" aria-hidden="true">
      <div
        *ngFor="let customer of customers"
        class="our-customers__marquee--card"
      >
        <img [src]="customer.url" class="img-fluid" [alt]="customer.alt" />
      </div>
      <div
        class="our-customers__marquee--card our-customers__marquee--card-last"
      >
        <span>et bien d'autres...</span>
      </div>
    </div>
  </div>
</div>
