<div class="container solutions-container container-impactiv" id="ourSolutions">
  <h1 class="impactiv-display-small">
    <span i18n="Text|screen masonry title@@SCREEN-MASONRY-TITLE"
      >SCREEN-MASONRY-TITLE</span
    >
    <span class="text-primary">.</span>
  </h1>
  <p
    class="impactiv-body-regular solutions-container__description"
    i18n="Text|screen masonry title@@WEBAPP-FEATURE-DESCRIPTION"
  >
    WEBAPP-FEATURE-DESCRIPTION
  </p>
  <a
    name=""
    id=""
    class="btn btn-contact-us"
    [routerLink]="['/', contactRoute]"
    role="button"
    ><span>
      <span i18n="Text|contact us two@@CONTACT-US-TWO">CONTACT-US-TWO</span>
      <i
        class="hero__arrow bi bi-arrow-right-short fs-5 align-middle"
        aria-hidden="true"
      ></i></span
  ></a>

  <div class="solutions">
    <div class="row">
      <div
        class="solution-card col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3"
        *ngFor="let solution of solutions"
      >
        <div class="solution-card__picture">
          <img
            [src]="'assets/images/contents/solutions/' + solution.image.src"
            loading="lazy"
            class="img-fluid"
            [alt]="solution.image.alt"
          />
        </div>
        <div class="solution-card__content">
          <h1 class="impactiv-button-regular">{{ solution.title }}</h1>
          <p class="impactiv-body-sub-regular">{{ solution.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
