.banner {
  background-color: #0f172a;
  color: white;
  border-radius: 8px;
  padding: 0 0 0 72px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  &__btn {
    border: solid 1px transparent;
    background-image: linear-gradient(var(--bs-black), var(--bs-black)),
      var(--bs-gradient);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #0f172a inset;
    position: relative;
    i {
      color: var(--bs-gray-400);
    }
    &:hover {
      .bi::before {
        animation: slide-right 0.8s ease-in-out infinite;
      }
    }
    &:hover {
      box-shadow: 2px 1000px 1px var(--bs-gray-900) inset;
    }
  }
  &__text {
    width: 50%;
    z-index: 3;
  }
  &__image-container {
    width: 55%;
  }
  &__parallax {
    position: absolute;
    top: 8%;
    right: 35%;
    bottom: auto;
    z-index: 1;
    justify-content: stretch;
    align-content: stretch;
    align-self: flex-start;
    flex: 0 auto;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: auto;
    transform: skew(-45deg, 45deg);

    display: grid;
    grid-auto-columns: 1fr;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;

    align-self: center;
    justify-self: center;
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;
  }
  &__parallaxItem {
    grid-column-start: span 1;
    grid-column-end: span 1;
    grid-row-start: span 1;
    grid-row-end: span 1;

    &-item--1 {
      max-width: 10rem;
      will-change: transform;
      transform: translate3d(0px, -100px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transition: transform 0.5s ease-in-out;
      transform-style: preserve-3d;
    }
    &-item--2 {
      max-width: 7rem;
      will-change: transform;
      transform: translate3d(0px, -200px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      transition: transform 0.5s ease-in-out;
    }
    &-item--3 {
      max-width: 6rem;
      will-change: transform;
      transform: translate3d(0px, -20px, 0px) scale3d(1, 1, 1) rotateX(0deg)
        rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
      transform-style: preserve-3d;
      transition: transform 0.5s ease-in-out;
    }
  }
  @media (max-width: 1199.98px) {
    padding: 0;
    &__text {
      padding: 1rem;
    }
  }
  @media (max-width: 991.98px) {
    padding: 0;
    height: 548px;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(
        180deg,
        #0f172a 34.9%,
        rgba(15, 23, 42, 0.7) 71.35%,
        rgba(15, 23, 42, 0) 100%
      ),
      #0f172a;
    &__text {
      padding: 3rem 1rem 0rem 1rem;
      width: 100%;
    }
    &__parallax {
      z-index: 0;
    }
    &__gradient {
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;
      min-height: 100%;
      min-width: 100%;
      background-image: linear-gradient(
        180deg,
        var(--bs-gray-1000) 34.9%,
        rgba(15, 23, 42, 0.7) 60%,
        rgba(15, 23, 42, 0) 100%
      );
    }
    &__image {
      width: 100%;
      height: 100%;
      background-image: url(../../../../assets/images/bg/banner_experience.png);
      background-size: cover;
      background-repeat: no-repeat;
      &-container {
        width: 100%;
        height: 100%;
      }
    }
  }
  @media (max-width: 575.98px) {
    width: auto;
  }
}
